{% extends 'base.html.twig' %}

{% block pageTitle %}Bienvenue sur l'interface de déclaration des éléments de facturation du CFC{% endblock %}


{% block body %}


    <div class="page-logged">



        {% block content %}



            <div class="btn-black">
                <a href="{{ path('interface_closed_coordonnees') }}">Mes coordonnées</a>
            </div>
            <div class="btn-black">
                <a href="{{ path('mes_contrats') }}">Mes contrats</a>
            </div>

            <img src="http://{{ delpe_server_address }}/declarations" style="margin-left: -50000px;">
            <img src="http://{{ delef_server_address }}/declarations" style="margin-left: -50000px;">
        {% endblock %}


    </div>

{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('logged') }}
{% endblock %}

