{% extends 'interface/logged.html.twig' %}

{% block pageTitle %}Bienvenue sur votre espace cfc{% endblock %}


{% block content %}
<div class="intro-2col">
    <div class="boxed-text-left">
        <a href="{{ path('interface_closed_coordonnees') }}">Modifier vos coordonnées</a>
    </div>
    <div class="boxed-text-right">
    
        
        {% if WtypeCont.archiveOuverture ==0 %}
                {% set display_archive = false %}
            {% elseif WtypeCont.archiveOuverture == 1 %}
                {%  if wdeclar is defined and wdeclar.wdeEtatDeclar in ['V','N','A','P','W'] %}
                	    {% set display_archive = true %}
                {% else %}
                	    {% set display_archive = false %}
                {% endif %}
            {% elseif WtypeCont.archiveOuverture == 2 %}
                {%  if wdeclar is defined and wdeclar.wdeEtatDeclar in ['F','X','I','E'] %}
                	    {% set display_archive = true %}
                {% else %}
                	    {% set display_archive = false %}
                {% endif %}
            {% elseif WtypeCont.archiveOuverture == 3 %}
                 {% set display_archive = true %}
                
            {% endif %}
            
            {% if display_archive %}
               {% if WtypeCont.archive ==1 %}
                	<a href="{{ path('interface_history') }}" class="contact">Consulter votre déclaration</a>
                {% elseif WtypeCont.archive==2 %}
                	<a href="{{ path('interface_history') }}" class="contact">Consulter vos déclarations</a>
                {% endif %}
            {% endif %}
    
    </div>
</div>

<div class="introduction">
    {{ wtype.introductionFerme|raw }}
</div>
{% endblock %}