{% extends 'interface/interface-closed.html.twig' %}

{% block siteLogo %}<img src="{{ asset('build/images/logo-wide.svg') }}" alt="logo" width="190" height="47">{% endblock %}
{% block subTitle %} {% endblock %}


{% block body %}
    <div class="page-logged">
    {% set context = "history" %}
    {% set section = ""  %}
    
    
     {% if WtypeCont.archive ==1 %}
           {% set section = "Déclaration précédente"  %}
     {% elseif WtypeCont.archive==2 %}
           {% set section = "Déclarations précédentes"  %}
     {% endif %}
     
    {% include 'interface/declaration/partial/header_declaration.html.twig'%}
    
    
    <div class="introduction-ouvert container debug history">
        <form autocomplete="off">
             <div class="row contained">
                <div class="col-sm-12 col-md-12 text-intro">
                    {% if wdeclar.wdeAnneeDecl|length == 4 %}
                         {{ wtype.historiqueIntroCivile|raw|replace({'[activation_date]': wtype.activationCivile})|raw }}
                    {% else %} 
                         {{ wtype.historiqueIntroScolaire|raw|replace({'[activation_date]': wtype.activationScolaire})|raw }}
                    {% endif %}
                </div>
             </div>    
             {% set has_history_file=0 %}
             {% for h in history %}{% if h['list']|length %}{% set has_history_file=1 %}{% endif %}{% endfor %}
             
             
            <div class="row contained">
                <div class="col-sm-9 col-md-12 actions"> {% if has_history_file==1 %}<a class="download" href="{{ path('interface_history_download_all') }}" target="_blank">Télécharger tous les PDF ci-dessous</a>{%else%} Vous n'avez pas d'historique pour ce contrat {% endif %}</div>
          	</div>
          	
          	<div class="separator"></div>
               
       {% for h in history %}
           {% if h['list']|length %}
       		 <div class="row contained">
                <div class="col-sm-12 col-md-12 text-intro font-weight-bold">
                 {{ h['wtype'].getLabelInterface|split('au titre de')[0]}}
                </div>
             </div>   
             {% if h['list']|length %}
             
                 {% for key, file in h['list'] %}
                   <div class="row contained">
                        <div class="col-sm-2 col-md-2 date"> {{ key }} </div>
                        <div class="col-sm-4 col-md-4 file"> {{ file|basename|replace({'.pdf': '_'~key~'.pdf'}) }}</div>
                        <div class="col-sm-6 col-md-6 actions"> <a href="{{ path('interface_history_download', {'year':key, 'contrat':h['conf'].wde_contrat}) }}" class="download" target="_blank">Télécharger</a>  </div>

                   </div>
                  	{% endfor %}
                  	
                  	
             {% else %}
             <div class="row contained">
                <div class="col-sm-12 col-md-12 text-intro text-center ">
       		        Vous n'avez pas d'historique pour ce contrat
                </div>
             </div>  
             {% endif %}
            {% endif %}
       {% endfor %}         
                
                
                
                
                
                
                
           
        </form>
    </div>
    
    {#
		<div class="introduction-ouvert container debug history">
                <form>
                <div class="row contained">
                            <div class="col-sm-12 col-md-12 text-intro">
                            {% if wdeclar.wdeAnnee|length == 4 %}
                                 {{ wtype.historiqueIntroCivile|raw|replace({'[activation_date]': wtype.activationCivile})|raw }}
                            {% else %} 
                                 {{ wtype.historiqueIntroScolaire|raw|replace({'[activation_date]': wtype.activation_scolaire})|raw }}
                            {% endif %}
                            </div>
                      	</div>
                      	
                {% if WtypeCont.archive ==1 %}
                
                		   	<div class="row contained">
                            <div class="col-sm-2 col-md-3 file"> </div>
                            <div class="col-sm-9 col-md-9 actions"> <a class="download" href="{{ path('interface_history_download_last') }}" target="_blank">Télécharger la déclaration</a></div>
                      	</div>
                      	
                {% elseif WtypeCont.archive==2 %}
                       
                      	
                      	<div class="row contained">
                            <div class="col-sm-2 col-md-3 file"> </div>
                            <div class="col-sm-9 col-md-9 actions"> <a class="download" href="{{ path('interface_history_download_all') }}" target="_blank">Télécharger tous les PDF ci-dessous</a></div>
                      	</div>
                      	<div class="separator"></div>
                      	{% for key, file in history %}
                      	 <div class="row contained">
                            <div class="col-sm-1 col-md-1 date"> {{ key }} </div>
                            <div class="col-sm-2 col-md-2 file"> {{ key }}.pdf </div>
                            <div class="col-sm-9 col-md-9 actions"> <a href="{{ path('interface_history_download', {year:key}) }}" class="download" target="_blank">Télécharger</a>  --- <a href="{{ path('interface_history_download', {year:key}) }}" class="print" target="_blank">imprimer</a></div>
    
                      	</div>
                  	{% endfor %}
                </form>
                {% endif %}

          	
          	
        </div>
            
    </div>
    #}
      {# {{ dump(WtypeCont) }} #}

{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('logged') }}
    {{ encore_entry_link_tags('declaration') }}
{% endblock %}