{% extends 'interface/logged.html.twig' %}

{% block pageTitle %}Bienvenue sur l'interface de déclaration des éléments de facturation du CFC{% endblock %}


{% block content %}

         {% if wtype.messageRappelDeclaration %}
            
            <div class="message-rappel">
                {{ wtype.messageRappelDeclaration|raw }}
            </div>
            {% endif %}
            

            
            {% if wtype.introductionOuvert %}
            <div class="introduction-ouvert">
                {% if wdeclar.wdeAnneeDecl|length == 4 %}
                    {{ wtype.introductionOuvert|raw|replace({'[activation_date]': wtype.activationCivile})|raw }}
                {% else %} 
                    {{ wtype.introductionOuvert|raw|replace({'[activation_date]': wtype.activation_scolaire})|raw }}
                {% endif %}
            </div>
            {% endif %}

            <div class="btn-black">
                <a href ="{{ path('declaration') }}">
                    effectuer ma déclaration 
                    
                    {{ wtype.getLabelInterface()|replace({'%wde_annee%':  wdeclar.wdeAnnee}) }} {% if wdeclar.getWdeIntituleDecl|length %} : {{ wdeclar.getWdeIntituleDecl }}{% endif %}
 
                </a>
            </div>

            {% if wtype.introductionOuvertComplement %}
            <div class="introduction-ouvert-complement">
                {{ wtype.introductionOuvertComplement|raw }}
            </div>
            {% endif %}
            




{% endblock %}
