{% extends 'interface/logged.html.twig' %}

{% block pageTitle %}Bienvenue sur l'interface de déclaration des éléments de facturation du CFC{% endblock %}


{% block content %}


            

            {% if wtype.introductionOuvert %}
            <div class="introduction-ouvert">

                {% if wdeclar.getWdelefs()[0].getWdfAnneeDecl()|length == 4 %}
                    {{ wtype.introductionOuvert|raw|replace({'[activation_date]': wtype.activationCivile})|raw }}
                {% else %}
                    {{ wtype.introductionOuvert|raw|replace({'[activation_date]': wtype.activationScolaire})|raw }}
                {% endif %}
                
                {% set opened_main_declar=0 %}
                {% for chained in contrats_chained['chaine'] %}
                    {% if chained.etape=="declaration" and chained.wde_etat_declar in ['N','V','A'] %}
                        {% set opened_main_declar=1 %}
                    {% endif %}
                {% endfor %}
				{% if contrats_chained['chaine']|length%}
                    {% if opened_main_declar %}

                        <div class="btn-black">
                            <a href ="{{ delef_server_address }}{% if contrats_chained['chaine']|length > 1 and contrats_chained['chaine'][0].chaine_force is not defined %}{{ path('declaration') }}{% else %}{{ path('declaration-independant', {'wtype_id': contrats_chained['chaine'][0].wtype.id}) }}
                            {% endif %}" > Effectuer ma déclaration pour les
                            {% if contrats_chained['chaine']|length>2%}
                                {{ wtype.getLabelInterfaceHome()|replace({'%wde_annee%':  contrats_chained['chaine'][0].wde_annee})|replace({'%wde_numperiod%':  contrats_chained['chaine'][0].wde_numperiod})  }} 
                            {% else %}
                            	{{ wtype.getLabelInterface()|replace({'%wde_annee%':  contrats_chained['chaine'][0].wde_annee})|replace({'%wde_numperiod%':  contrats_chained['chaine'][0].wde_numperiod})  }} 
                            {% endif %}
                            {% if contrats_chained['chaine'][0].label_annee|length %} : {{ contrats_chained['chaine'][0].label_annee}}{% endif %}</a>
                        </div>
                    
                    {% else %}
                        <div class="btn-black">
                        <div>Effectuer ma déclaration pour les 
                        
                     {% if contrats_chained['chaine']|length>2%}
                            {{ wtype.getLabelInterfaceHome()|replace({'%wde_annee%':  contrats_chained['chaine'][0].wde_annee})|replace({'%wde_numperiod%':  contrats_chained['chaine'][0].wde_numperiod}) }} 
                     {% else %}
                     		{{ wtype.getLabelInterface()|replace({'%wde_annee%':  contrats_chained['chaine'][0].wde_annee})|replace({'%wde_numperiod%':  contrats_chained['chaine'][0].wde_numperiod}) }} 
                     {% endif %}
                     {% if contrats_chained['chaine'][0].label_annee|length %} : {{ contrats_chained['chaine'][0].label_annee}}{% endif %}</div>
                        </div>
                        <span>Vous avez  effectué votre déclaration pour les 
                        {% if contrats_chained['chaine']|length>2%}
                            {{ wtype.getLabelInterfaceHome()|replace({'%wde_annee%':  contrats_chained['chaine'][0].wde_annee})|replace({'%wde_numperiod%':  contrats_chained['chaine'][0].wde_numperiod}) }}
                         {% else %}
                            {{ wtype.getLabelInterface()|replace({'%wde_annee%':  contrats_chained['chaine'][0].wde_annee})|replace({'%wde_numperiod%':  contrats_chained['chaine'][0].wde_numperiod}) }}
                         {% endif %}
                         : {{ contrats_chained['chaine'][0].label_annee }}</span>
                    
                    {% endif %}
                {% endif %}
            		
            		
            		
            {% for independant in contrats_chained['independant'] %}
                {% if independant.etape =='declaration' %}
                    {% if independant.wde_etat_declar in ['F','E'] %}
                    
                    
                    	 <div class="btn-black">
                             <div>Effectuer ma déclaration pour les  {{ independant.wtype.getLabelInterface()|replace({'%wde_annee%':  independant.wde_annee}) }} {% if independant.label_annee|length %} : {{ independant.label_annee }}{% endif %}</div>
                        </div>
                        <span>Vous avez  effectué votre déclaration pour les {{ independant.wtype.getLabelInterface()|replace({'%wde_annee%':  independant.wde_annee})|replace({'%wde_numperiod%':  independant.wde_numperiod}) }} {% if independant.label_annee|length %} : {{ independant.label_annee }}{% endif %}</span>
                     {% endif %}
                     {% if independant.wde_etat_declar in ['N','V','P','W','A'] and independant.etape=="declaration" %}
                     <div class="btn-black">
                            <a href ="{{ delef_server_address }}{{ path('declaration-independant', {'wtype_id': independant.wtype.id}) }}" >
                            Effectuer ma déclaration pour les {{ independant.wtype.getLabelInterface()|replace({'%wde_annee%':  independant.wde_annee})|replace({'%wde_numperiod%':  independant.wde_numperiod})|replace({'%wde_dossier%':  independant.wde_dossier})|replace({'%wde_contrat%':  independant.wde_contrat}) }} {% if independant.label_annee|length %} : {{ independant.label_annee }}{% endif %}      
                             </a>
                        </div>
                     {% endif %}
                 {% endif %}
            {% endfor %}
            
        
            		
            
            
            
            </div>
            {% endif %}






    {%  if delpe_id > 0 %}
    <div class="btn-black">
        <a href="{{ delpe_server_address }}/declarations">Formulaire Delpe</a>
    </div>
    {%  endif %}

<br><br>
<style>
    .table {
        color: #FFF;
    }

    .table a, .table a:hover {
        color: inherit;
    }

</style>

<div class="table-responsive">
    <h1>Mes contrats</h1>
    <table class="table table-striped ">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Contrat</th>
            <th scope="col">Contrat Type</th>
            <th scope="col">Contrat Label</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {%  if delef_declars | length  > 0 %}
            {% for d in delef_declars %}
                {% set typeContrat=d.getWctTypcont()|getTypeCont %}
            <tr>
                <th scope="row"></th>
                <td>{{ d.getWctContrat() }}</td>
                <td>{{ d.getWctTypcont() }}</td>
                <td>{{ typeContrat.description }}</td>
                <td>{{ d.getWdelefs()[0].getWdfEtatDeclar()}}</td>
                <td>
                    {% if d.getWdelefs()[0].getWdfEtatDeclar() in ['F','E'] %}
                    <a href="#" style="text-decoration:line-through;">Déclarer</a>
                    {% endif %}
                    {% if d.getWdelefs()[0].getWdfEtatDeclar() in ['N','V','P','W','A'] %}
                        {% if typeContrat.type_interface == 1 %}
                            <a href="{{ delef_server_address }}/{{ path('declaration', {'wtype_id': typeContrat.id}) }}" >Déclarer</a>
                        {% else %}
                            <a href="{{ delef_server_address }}/declarations" >Déclarer</a>
                        {% endif %}


                    {% endif %}
                    |

                    <a href="{{ path('modify_billing_address', {'wtype_id': typeContrat.id}) }}">Facturation</a>
                    |
                    <a href="{{ path('interface_closed_coordonnees') }}">Mes coordonnées</a>
                </td>
            </tr>
            {%  endfor %}
        {%  endif %}


        </tbody>

    </table>
</div>

    <div class="table-responsive">
        <h1>Mes enquetes</h1>
        <table class="table table-striped ">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Contrat / IdMen</th>
                <th scope="col">Contrat Type</th>
                <th scope="col">Contrat Label</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {%  if delpe_declars | length  > 0 %}
                {% for d in delpe_declars %}
                    {% set typeContrat=d.libelletypecontrat|getTypeContDelpe %}
                    <tr>
                        <th scope="row"></th>
                        <td>{{ d.fkcontrat }}</td>
                        <td>{{ d.libelletypecontrat }}</td>
                        <td>{{ typeContrat.description }}</td>
                        <td>{{ d.statut }}</td>
                        <td>
                            {% if d.statut in ['F','E'] %}
                                <a href="#" style="text-decoration:line-through;">Déclarer</a>
                            {% endif %}
                            {% if d.statut in ['N','V','P','W','A'] %}
                                {% if typeContrat.type_interface == 1 %}
                                    <a href="{{ delpe_server_address }}/{{ path('declaration', {'wtype_id': typeContrat.id}) }}" >Déclarer</a>
                                {% else %}
                                    <a href="{{ delpe_server_address }}/declarations" >Déclarer</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {%  endfor %}
            {%  endif %}


            </tbody>

        </table>
    </div>


    <img src="http://{{ delpe_server_address }}/declarations" style="margin-left: -50000px;">
    <img src="http://{{ delef_server_address }}/declarations" style="margin-left: -50000px;">
{% endblock %}
