body {
    background-image: none;
    background-color: #fff;
    margin-top: 5px;
    & > .container {
        max-width: 100%;
        padding: 0;
    }
}
.header-nav {
    height: 47px;
    margin-bottom: -47px;
    display: flex;
    align-items: center;
    .container {
        padding: 0;
        a {
            color: #000;

        }
    }
    .contact::before, .logout::before {
        content: none;
    }
}
.header {
    .logo-title {
        img {
            width: 190px;
            height: 47px;
            object-fit: cover;
        }
    }
    .container {
        padding: 0;
    }
}
.container {
    max-width: 720px;
}

  
.page-logged {
    background-color: #006E96;
    margin-top: 5px;
    margin-bottom: 40px;
 	&.declaration{
 		.introduction-ouvert{
 		
 			&.declaration{
 				.row.label, .label-desc{
	    				text-align: left !important;
	 					justify-content: left !important;
	 					span {
	 					 	padding: 0 10px 0 0 !important;
							margin: 0 10px 0 0 !important;
	 					}
	    			}
	    		.label-desc{
	    			padding-bottom: 20px;
	    		}		
 			}
 		}
 	}

 	.sub-title{
	  b, strong{
	        	margin-left: 4px;
	        	margin-right: 4px;
	        }
	    
	}
    .subtitle {
        //max-width: 484px;
        margin: 0 auto;
        padding-left: calc((100% - 484px)/2);
        &:first-child {
            padding-top: 24px;
            font-size: 24px;
            line-height: 28px;
            font-family: 'Montserrat Bold';
            &::after {
                content: none;
            }
        }
        &:nth-child(2) {
            padding-bottom: 28px;
            padding-top: 5px;
            font-size: 17px;
            line-height: 24px;
        }

    }
    .section {
        padding-left: calc((100% - 484px)/2);
        padding-bottom: 24px;
        font-family: 'Montserrat Medium';
        font-size: 20px;
        line-height: 1;
        color: #fff;
        text-transform: uppercase;
    }
    

        	
    .form-step {
        /*max-width: 836px;*/
        margin: 0 auto;
        padding-left: calc((100% - 484px)/2);
        display: flex;
        margin-bottom: 16px;
        /*justify-content: center;*/
        & > div {
            padding: 12px;
            margin-right: 12px;
            font-size: 12px;
            line-height: 1;
            text-transform: uppercase;
            font-family: 'Montserrat Medium';
            border: 2px solid #80b7cb;
            color: #fff;
            display: flex;
            text-align: center;
            align-items: center;
            &:last-child {
                margin-right: 0;
            }
        }
        .active {
            color: #000;
            border-color: #fff;
            background: #fff;
            font-weight: bold;
            a, 
            a:hover,
            a:active,
            a:visited{
	        	color: #000;
        		text-decoration: none;
        	}
        }
        
        .inactive-hover:hover {
            color: #000;
            border-color: #fff;
            background: #fff;
            /*font-weight: bold;*/
            a, 
            a:hover,
            a:active,
            a:visited{
	        	color: #000;
        		text-decoration: none;
        	}
        }
        
        a, 
        a:hover, 
        a:active, 
        a:visited{
        	color: #FFF;
        	text-decoration: none;
        }
    }
    .introduction-ouvert {
        padding: 0;
        margin: 0;
        background: #fff;
        max-width: 100%;
        position: relative;
        & > * {
            margin: 0 auto;
            /*max-width: 720px*/;
            /*padding: 0 15px;*/
        }
        .contained{
        	max-width: 720px;
        	margin-left: auto !important;
        	margin-right: auto !important;
        }
        .form-title {
            padding-top: 35px;
            color: #006E96;
            font-size: 20px;
            line-height: 1;
            font-family: 'Montserrat Bold';
            text-transform: uppercase;
        }
        .form-notice {
            font-size: 12px;
            line-height: 1;
            color: #000;
            text-align: right;
            font-family: 'Montserrat Medium';
            text-transform: uppercase;
            margin-bottom: 20px;
            padding-top: 20px;
        }
        .compos-total-bloc, .compos-add-bloc {
                font-size: 14px;
                line-height: 16px;
        }
        .compos-total-bloc-blue {
                background: #E1EBF0;
                height: 20px;
                line-height: 20px;
        }
        .compos-total-bloc {
            div:first-child {
                text-transform: uppercase;
                padding-right: 10px !important;
                font-family: 'Montserrat SemiBold';
                height: 20px;
                line-height: 20px;
            }
            div:last-child {
                background: #E1EBF0;
                height: 20px;
                line-height: 20px;
            }
        }
        .label-desc {
        	font-size: 14px;
        	line-height: 16px;
        }
        .row {
            margin: 0;
            align-items: flex-start;
            margin-bottom: 10px !important;
            .text-uppercase {
                text-transform: uppercase;
            }
            &:first-child(.abo-press-site-line) {
            	margin-bottom: 0px !important;
            }
            & > div {
                padding: 0;
            }
            
            
            .form-col-label, 
            .col-compos-title, .col-compos-num, .compos-total-bloc, .compos-add-bloc,
            .label-description,
            .col-md-intitule-stage, .col-md-stagiaire, .col-md-heures
            {
                color: #000;
                font-size: 13px;
                line-height: 20px;
                
            }

            .form-col-fields {
                & > div {
                    display: inline-block;
                    &:first-child {
                        margin-right: 20px;
                    }
                    input {
                        margin-right: 5px;
                    }
                    label {
                        margin-bottom: 0;
                        font-size: 12px;
                        color: #000;
						font-size: 12px;
						line-height: 20px;
						text-transform: uppercase;
						font-family: 'Montserrat';
						input[type="checkbox"]
						{
						    vertical-align:middle;
						}
                    }
                    display: inline-flex;
                    align-items: center;
                    overflow-wrap: break-word;
                }
                .text-uppercase {
                   
                    
                   /* display: block;*/
                    
                    
                    b {
                    	font-family: 'Montserrat' !important;
                    	/*margin: 0 3px;*/
                    }
                } 
                
               &.field-contact, &.field-adresses  {
               		.es-input{
               			background-url: none !important;
               		}
                	 span {
						content: url("/build/images/jump-icon.svg");
						position: absolute;
					    display: inline-block;
					    width: 20px;
					    height: 20px;
					    right: -1px;
						top: 0;
					    cursor: pointer;
					}
					input {
					    max-width: -moz-calc(100% - 25px) !important;
					    max-width: -webkit-calc(100% - 25px) !important;
					    max-width: -o-calc(100% - 25px) !important;
					    max-width: calc(100% - 25px) !important;
					}
                }
            }

            input, select {
                height: 23px;
                font-size: 14px;
                border: none;
                padding: 0 5px;
                border-radius: 0;
                &:hover, &:focus {
                    border: none;
                    outline: 0;
                    border-radius: 0;
                }
            }
            input:not([type='radio']):not([type='checkbox']), select {
                width: 100%;
                background-color: #E1EBF0;
                height: 23px;
                max-width: 100%;
                &::-moz-placeholder,
                &:-ms-input-placeholder,
                &:-moz-placeholder,
                &::-webkit-input-placeholder
                {
                	font-size: 11px;
                }
            }
            input[type='checkbox']{
            
            }
            select {
                background: url("/build/images/arrow.svg") no-repeat right #E1EBF0;
                background-size: 16.667px 10px;
                background-position-y: 5px;
                background-position-x: calc(100% - 2px);
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                padding-right: 20px;
                overflow-x: hidden;
                &::-ms-expand {
                    display: none;
                }
            }
            textarea {
                font-size: 14px;
                border: none;
                padding: 0 5px;
                border-radius: 0;
                background-color: #E1EBF0;
                max-width: 100%;
                width: 100%;
                &:hover, &:focus {
                    border: none;
                    outline: 0;
                    border-radius: 0;
                }
            }
            ul.error {
                padding: 0;
            }
            &.red, &.blue {
                border: none;
            }
            &.sublabel {
                margin-top: 15px;
            }
            &.label {
                margin-bottom: 20px !important;
                margin-top: 50px;
                font-size: 16px;
                text-align: center;
                line-height: 1;
                font-family: 'Montserrat SemiBold';
                justify-content: center;
                position: relative;
                &::before {
                    content: '';
                    background-color: #006E96;
                    height: 2px;
                    display: inline-block;
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    z-index: 0;
                    left: 0;
                    transform: translate(0, -50%);
                }
                
                
                
                span {
                    background-color: #fff;
                    z-index: 0;
                    padding: 0 10px;
                    margin: 0 10px;
                }
            }

            &.label-desc {
                justify-content: center;
                margin-top: -15px;
                /*margin-bottom: 15px;*/
                
                padding-bottom: 15px;
                
            }
            .col-compos-button {
                margin-left: 5px !important;
                a {
                    position: relative;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    color: #fff;
                    &::before {
                        content: '';
                        background: url('/build/images/icons8-trash-20.svg') no-repeat center;
                        width: 20px;
                        height: 20px;
                        display: inline-block;
                        position: absolute;
                    }
                }
                &.add-compos, &.add-panorama, &.add-press {
                    a {
                        &::before {
                            background: url('/build/images/add-icon.svg') no-repeat center;
                        }
                    }
                }
                &.ico-expend {
                    a {
                        &::before {
                        transition-duration: 0.5s;
                            background: url('/build/images/play-button.svg') no-repeat center;
                            
                        }
                    }
                }
                &.ico-collapse {
                    a {
                        &::before {
                        transition-duration: 0.5s;
                            background: url('/build/images/play-button.svg') no-repeat center;
                            transform: rotate(90deg);
                        }
                    }
                }
            }
            .col-md-remove-compos {
                margin-left: 5px !important;
                a {
                    position: relative;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    color: #fff;
                    &::before {
                        content: '';
                        background: url('/build/images/icons8-trash-20.svg') no-repeat center;
                        width: 20px;
                        height: 20px;
                        display: inline-block;
                        position: absolute;
                    }
                }
            }
            .col-md-add-compos {
                margin-left: 5px !important;
                a {
                    position: relative;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    color: #fff;
                    &::before {
                        content: '';
                        background: url('/build/images/add-icon.svg') no-repeat center;
                        width: 20px;
                        height: 20px;
                        display: inline-block;
                        position: absolute;
                    }
                }
            }
        }
        .col {
            margin-top: 40px;
            text-align: center;
            position: relative;
            button, button:focus{
                background: #006E96;
                width: 240px;
                height: 32px;
                color: #fff;
                border: 0;
                font-size: 16px;
                line-height: 19px;
                font-weight: 500;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
                font-family: 'Montserrat Medium';
            }
            a {
                position: absolute;
                max-width: 180px;
                width: 100%;
                height: 32px;
                font-size: 12px;
                line-height: 16px;
                color: #000;
                left: calc((720px - 240px)/2 - 200px);
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1.5px solid #006E96;
                &:hover, &:focus {
                    text-decoration: none;
                }
                &::after {
                    content: url('/build/images/declaration-icon.svg');
                    width: 14px;
                    height: 14px;
                    margin-left: 5px;
                }
            }
        }
        .error {
            margin-bottom: 0;
        }
    }
    .history {
        form {
            padding-top: 40px;
        }
        .row {
            align-items: center;
            margin-bottom: 27px !important;
            .file {
                font-family: 'Montserrat SemiBold';
            }
            &:first-child {
                font-family: 'Montserrat SemiBold';
            }
            &:nth-child(2) {
                .actions {
                    flex-direction: column;
                    align-items: flex-start;
                    &::after {
                        content: '';
                        display: block;
                        margin-top: 24px;
                        width: 120px;
                        height: 5px;
                        background: #006E96;
                    }
                }
            }
        }
        .actions {
            display: flex;
            align-items: center;
            font-size: 13px;
        }
    }
    .form-description {
        margin-top: 27px;
        margin-bottom: 50px;
        font-family: 'Montserrat Medium';
        font-size: 13px;
        &::after {
            content: '';
            display: block;
            margin-top: 24px;
            width: 150px;
            height: 5px;
            background: #006E96;
        }
    }
    .success-message {
        background: #fff;
        padding-top: 40px;
        > * {
            max-width: 720px;
            margin: 0 auto;
            margin-bottom: 15px;
            font-size: 14px;
            color: #000;
        }
        strong {
            font-size: 16px;
        }
        &::after {
            content: '';
            display: block;
            margin-top: 24px;
            width: 150px;
            height: 5px;
            background: #006E96;
            margin-left: calc((100% - 720px)/2);
        }
    }
    
    .declaration {
	    .row input:not([type="radio"]):not([type="checkbox"])
	    {
	    	max-width: 160px;
	    }

	    .wpplp_label, .wpplp_total, .compos-title-field input, .col-compos-title-field  input{
	    	max-width: 100% !important;
	    }
		.field-large{
			max-width: 100% !important;
		}
    }
    .print {
        display: inline-flex;
        align-items: center;
        color: #000;
        text-transform: uppercase;
        margin-left: 20px;
        &::before {
            content: '';
            background: url('/build/images/print-icon.svg') no-repeat center;
            background-size: 22px 17px;
            display: inline-block;
            width: 32px;
            height: 30px;
            border: 1px solid #000;
            margin-right: 10px;
        }
    }
    .download {
        display: inline-flex;
        align-items: center;
        color: #000;
        text-transform: uppercase;
        margin-right: 20px;
        &::before {
            content: '';
            background: url('/build/images/download-icon.svg') no-repeat center;
            background-size: 22px 17px;
            display: inline-block;
            width: 32px;
            height: 30px;
            border: 1px solid #000;
            margin-right: 10px;
        }
    }
    /*.declaration {
        form {
            margin-top: 28px;
        }
        .row  {
            margin-bottom: 20px;
            .form-col-label {
                //flex: 0 0 100%;
                //max-width: max-content;
                padding-right: 10px !important;
                &.full-width {
                    //max-width: 100%;
                    margin-bottom: 14px !important;
                }
            }
            .form-col-fields {
                //flex: 1;
                input[type="radio"] {
                    width: 16px;
                    height: 16px;
                    margin-bottom: 12px;
                }
                label {
                    font-size: 12px;
                    line-height: 16px;
                    margin-bottom: 12px !important;
                }
            }
            & > div:nth-child(2) {
                .form-col-label {
                    margin-left: 15px !important;
                }
            }
        }
    }*/
    .aide {
        background: #4d4d4d;
        position: relative;
        &.modal-open {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            /*bottom: -40px;*/
            z-index: 999;
            max-width: 100%;
            height: calc(100% + 40px);
        }
        .content {
            max-width: 836px;
            margin: 0 auto;
            background: #fff;
            padding: 48px 58px;
            max-height: calc(100% - 40px);
            overflow-y: scroll;
        }
        .toggler {
        	cursor: pointer;
            position: absolute;
            right: calc((100% - 720px)/2);
            color: #000;
            background-color: #fff;
            padding-top: 5px;
            display: flex;
            align-items: center;
            font-family: 'Montserrat SemiBold';
            &::before {
                content: '';
                background: url('/build/images/aide-toggler.svg') center no-repeat;
                background-size: 16px 10px;
                width: 22px;
                height: 22px;
                border: 1px solid #000;
                display: inline-block;
                margin-right: 5px;
            }
            &.opened {
                &::before {
                    background: url('/build/images/aide-toggler-close.svg') center no-repeat;
                    background-size: contain;
                }
            }
        }
        .item {
            margin-bottom: 10px;
            .item-label {
                font-size: 12px;
                line-height: 16px;
                color: #000;
                font-family: 'Montserrat Bold';
                &::after {
                    content: '';
                    background: #006E96;
                    display: block;
                    height: 5px;
                }
                &.collapsed {
                    font-family: 'Montserrat';
                    &::after {
                        content: none;
                    }
                }
            }
            .item-value {
                margin: 20px 0;
                padding-left: 56px;
                font-size: 13px;
                line-height: 16px;
                &::after {
                    content: '';
                    /*background: #006E96;*/
                    height: 1px;
                    width: 95px;
                    display: inline-block;
                }
            }
        }
        p {
            margin: 0;
        }
    }
    #form_civilite {
        display: flex;
        align-items: center;
        label {
            font-size: 12px;
            text-transform: uppercase;
            margin-right: 20px;
        }
    }
    
    /*Field compos*/
    .col-compos-title, .col-compos-title-field{
		max-width: 570px;
	}

	
	.col-compos-title-field input{
		width: 550px !important;
		max-width: 550px  !important;
	}
	
	.col-compos-num{
		/*max-width: 70px;*/
		max-width: 149px;
	}
	.col-compos-num-field{
		max-width: 80px;
	}
	.col-compos-num-field input{
		max-width: 70px;
	}
	.col-compos-button{
		max-width: 20px;
	}
	
	.add-compos, .add-press, #container_relation_publique .add-panorama,
	.abo-press-livres-line .add-panorama,
	.copie_externe .add-panorama
	 {
		visibility: hidden;
	}
	.compos-line:nth-last-of-type(1) .add-compos,
	.abo-press-livres-titre-line:nth-last-of-type(1) .add-press,
	.abo-press-livres-site-line:nth-last-of-type(1) .add-press,
	.abo-press-titre-line:nth-last-of-type(1) .add-press,
	.abo-press-site-line:nth-last-of-type(1) .add-press,
	.abo-press-livres-line:nth-last-of-type(1) .add-panorama,
	.copie_externe:nth-last-of-type(1) .add-panorama,
	
	div#container_relation_publique > div:nth-last-of-type(1) .add-panorama
	{
		visibility: visible !important;
	}

        /*abo-press-livres-titre-line
        abo-press-livres-site-line*/
        
	.abo-press-livres-titre-line .label-description-container,
	.abo-press-livres-site-line .label-description-container,
	.abo-press-livres .label-description-container
	{
		margin-bottom: 10px !important;
		/*padding-bottom: 10px !important;*/
	}
	.row.abo-press-livres-titre-line,
	.row.abo-press-livres-site-line,
	.row.abo-press-livres-line
	{
		margin-bottom: 0px !important;
	}
	#container_relation_publique
    {
    	margin-top: 25px;
    }
	
	#container_relation_publique .relation_publique .row 
	{
		padding-bottom: 10px !important;
	}
	
	
	.compos-errors{
		color: red;
	}
	
	 .sub-title{
        padding-bottom: 10px;
        /*padding-top: 30px*/
     }
	
	
	/*Field compos stage*/
	
	.col-md-add-compos{
	visibility: hidden;
}
.compos-line:nth-last-of-type(1) .col-md-add-compos{
	visibility: visible;
}

.compos-errors{
	color: red;
}
.compos-title-field input{
	display: table-cell;
	max-width: 100%;
	width:100%;
}



.abo-press-blue{
	background-color: #f6f9fb;
	padding-bottom: 40px;
	margin-top: 40px;
	margin-left: 40px;
	padding-left: 20px;
	padding-right: 20px;
}
.abo-press, .panorama-publication-title, .panorama_press_numerique_publications, .panorama_press_papier_publications, .panorama_press_papier_publications{
	width: 100%;
}
.label.abo-press .title, .label.abo-press-item .title{
	background-color: #f6f9fb !important;
}
.abo-press-blue.contained{
	max-width: 760px !important;
}
.abo-press-blue, .abo-press-blue .title{
	font-size: 12px !important;
}

.description-container{

	min-width: 500px;
}

.button-container {
	padding-left: 9px !important;
}

.abo-press-blue .dotted-line{
	margin-bottom: 25px !important;
	margin-top: 25px !important;
}


.validation{
 .text-uppercase {
	display: block !important;
	}
}






@media screen and (min-width: 768px)
{
    /*.col-md-intitule-stage {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 135px;
    	max-width: 135px;
    }*/
    .col-md-intitule-stage-field{

        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 480px;
    	max-width: 480px;
    }
    
    .col-md-stagiaire, .col-md-intitule-stage{
	    flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 170px;
    	max-width: 170px;
    }  
    
    .col-md-stagiaire-field{
	    flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 170px;
    	max-width: 170px;
    } 
    
    .col-md-heures{
	    flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 230px;
    	max-width: 230px;
    	padding-left: 10px !important;
    	
    } 
    
    .col-md-heures-field{
	    flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 80px;
    	max-width: 80px;
    	padding-left: 10px !important;
    }
    .col-md-remove-compos, .col-md-add-compos{
	    flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 20px;
    	max-width: 20px;
    }

}
	.rgpd-div{
		margin-top: -23px;
	}
	
	label.rgpd {
	  display: block;
	  padding-left: 15px;
	  text-indent: -23px;
	  text-transform: none !important;
	}
	input.rgpd {
	  width: 13px !important;
	  height: 13px;
	  padding: 0;
	  margin:0;
	  vertical-align: bottom;
	  position: relative;
	  /*top: 6px;*/
	  *overflow: hidden;
	}
	
	
	
	
}

@media (max-width: 767px) {
    .header-nav {
        margin-bottom: 0;
        height: auto;
    }
    .page-logged {
        .introduction-ouvert {
            > * {
                padding: 0 15px;
            }
            .col {
                a {
                    left: 0;
                    position: relative;
                    margin: 0 auto 15px;
                }
            }
            .row .form-col-fields > div:first-child {
                margin-right: 0 !important;
            }
        }
        /*.declaration .row {
            .form-col-label {
                max-width: 100%;
                padding-right: 0 !important;
            }
            > div:nth-child(2) .form-col-label {
                margin-left: 0 !important;
            }
        }*/
    }
}
@media (max-width: 720px) {
    .page-logged {
        .aide {
            .toggler {
                right: 15px;
                cursor: pointer;
            }
            &.modal-open {
                .toggler {
                    right: 30px;
                }
            }
            .content {
                padding: 48px 15px;
            }
        }
        .success-message {
            > * {
                padding: 0 15px;
            }
            &::after {
                margin-left: 15px;
            }
        }
    }
}
@media (max-width: 548px) {
    .page-logged .aide.modal-open {
        bottom: -24px;
    }
}
@media (max-width: 514px) {
    .page-logged {
        .subtitle {
            padding: 0 15px;
        }
        .form-step {
            margin: 0;
            margin-bottom: 16px;
            padding: 0 15px;
        }
    }
}
@media (max-width: 416px) {
    .header-nav .container a:first-child {
        margin-right: 16px;
    }
}


.font-size-12{
	font-size: 12px !important;
}
	
.font-size-13{
	font-size: 13px !important;
}
.font-size-14{
	font-size: 14px !important;
}
.font-size-15{
	font-size: 15px !important;
}
.font-size-16{
	font-size: 16px !important;
}	
	
/* The Modal (background) */
.delef-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}
.modal-title{
	text-transform: uppercase;
	color: #000;
	font-size: 12px;
	line-height: 20px;
	font-family: 'Montserrat';
	&.font-weight-bold {
            		font-family: 'Montserrat SemiBold';
    }
}
.modal-content{
	color: #000;
	font-size: 12px;
	line-height: 20px;
	font-family: 'Montserrat';
	/*max-width: 500px;*/
	max-width: 740px;
	&.font-weight-bold {
        font-family: 'Montserrat SemiBold';
    }
    &.font-weight-normal {
        font-family: 'Montserrat';
    }
    .modal-title{
	text-transform: uppercase;
	}
	.modal-text{
		margin-bottom: 25px;
		margin-top: 25px;
	}
	div{
	text-align: center;
		button {
                background: #006E96;
                /*width: 240px;*/
                height: 32px;
                color: #fff;
                border: 0;
                font-size: 13px;
                line-height: 19px;
                font-weight: 500;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
                font-family: 'Montserrat Medium';
                margin: 5px;
                text-transform: uppercase;
                padding-left: 20px;
                padding-right: 20px;
            }
	}
	

	
	
}

/**************************/ 
/*Field panorama press*/
/**************************/ 

.padding-right-15{
	padding-right: 15px !important;
}
.padding-left-15{
	padding-left: 15px !important;
}	
	input[name=wpp_prestataire], input[name=wabo_prestataire], input[name=wpresta_prestataire],
	.container_accordion_options input[type=radio]
	{
	    width: 13px;
	    margin-right: 7px;
	    vertical-align: middle;
	
	}


	.add-compos{
		visibility: hidden;
	}
	.panorama_press_numerique_publications_line:nth-last-of-type(1) .add-compos,
	.panorama_press_papier_publications_line:nth-last-of-type(1) .add-compos,
	.copie_ext_web_publications_line:nth-last-of-type(1) .add-compos
	{
		visibility: visible;
	}
	
	.panorama_content{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.panorama_content .contained .row:first-child{
		margin-bottom: 10px !important;
	}
	
	
	.add_panorama_press, .delete_panorama_press{
	    height: 32px;
	    font-size: 12px;
	    line-height: 16px;
	    color: #000;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    /*border: 1.5px solid #006E96;*/
		text-decoration: none;
		background-color: transparent;
	}
	.add_panorama_press{
		max-width: 275px;
	    /*width: 100%;*/
		
	}
	
	.add_first_publication_press{
		max-width: 235px;
	    width: 100%;
		height: 32px;
	    font-size: 12px;
	    line-height: 16px;
	    color: #000;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    border: 1.5px solid #006E96;
		text-decoration: none;
		background-color: transparent;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	.button_add_delete{
		max-width: 265px;
	    width: 100%;
		height: 32px;
	    font-size: 12px;
	    line-height: 16px;
	    color: #000;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    border: 1.5px solid #006E96;
		text-decoration: none;
		background-color: transparent;
		/*margin-top: 30px;*/
		margin-bottom: 30px;
		float: right;
		margin-left: 15px;
	}
	
	.row-add-first-publication-press{
			/*display: none;*/
	}
	.delete_panorama_press{
		max-width: 210px;
	    width: 100%;
		margin-left: 15px;
		margin-right: 15px;
	}
	
	.add_panorama_press::after, 
	.add_first_publication_press::after {
	    content: url("/build/images/add-icon.svg");
	    width: 14px;
	    height: 14px;
	    margin-left: 5px;
	}
	
	.delete_panorama_press::after {
	    content: url("/build/images/icons8-trash-20.svg");
	    width: 14px;
	    height: 14px;
	    margin-left: 5px;
	}
	.buttons-panoramas{
		margin-top: 20px;
	}
	
	input[type="file"] {
	    display: none;
	}
	.custom-file-upload {
		background-color: #E1EBF0;
	    border: none;
		font-family: 'Montserrat Bold';
		
	    display: inline-block;
	    padding: 6px 41px;
	    cursor: pointer;
		font-size: 12px;
	    line-height: 16px;
	    color: #000;
		margin-left: 10px;
		margin-right: 10px;
	}
	.custom-file-upload:hover {
	    color: #0056b3;
	    text-decoration: underline;
	}
	/*.custom-file-upload-icon {
	    content: url("/build/images/add-icon.svg");
	    width: 14px;
	    height: 14px;
	    margin-left: 5px;
		margin-right: 5px;
	
	}*/
	.custom-file-upload-filename{
		border-top: none;
		border-bottom: 3px solid #E1EBF0;
		border-bottom-style: dotted;
		
		width: 228px;
		height: 30px;
		font-size: 14px;
	    line-height: 30px;
		padding-left: 10px;
		
	}
	.custom-file-upload-filename input{
		max-width: 187px !important;
	}
	.delete_file{
		content: url("/build/images/icons8-trash-20.svg");
	    width: 20px;
	    height: 20px;
	    margin-left: 5px;
		margin-top: 8px;
		display: none;
	}
	.file-upload-notice{
		font-size: 13px;
	    line-height: 16px;
	}
	.file-upload-notice a,.file-upload-notice a:hover{
		text-decoration: underline;
		color: #000;
	}
	.file-row div span{
		line-height: 40px !important;
	}
	
	.custom-file-upload-filename-text,
	.file-upload-filename-text{
		background-color: #fff !important;
	}
	
	
	.custom-file-upload-filename input::placeholder , 
	.custom-file-upload-filename input:-ms-input-placeholder,
	.custom-file-upload-filename input::-ms-input-placeholder,
	.custom-file-upload-filename input { 
	    color: #000; 
	} 
	  
	.custom-file-upload-filename input{
	    -webkit-text-fill-color:#000;
	    -webkit-opacity:1;
	    color:#000;
	}
	
	.panorama-title{
		margin-top: 15px !important;
	}
    .panorama-subtitle{
		padding-bottom: 15px;
    }
	
    
    .dotted-line{
    	height: 5px;
    	background: url('/build/images/square.svg');
		border-width: 0;
    	margin-bottom: 25px;
    	margin-top: 25px;

    }
    

    
    
	.label-separator {
                margin-bottom: 20px !important;
                margin-top: 50px;
                font-size: 14px;
                text-align: center;
                line-height: 2px;
                font-family: 'Montserrat SemiBold';
                justify-content: center;
                position: relative;
				color: #000;
	}
    .label-separator::before {
                    content: '';
                    background-color: #006E96;
                    height: 2px;
                    display: inline-block;
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    z-index: 11;
                    left: 0;
                    transform: translate(0, -50%);
    			
                }
      .label-separator span {
                    background-color: #fff;
                    z-index: 99;
                    padding: 0 10px;
                    margin: 0 10px;
      	line-height: 16px;
                }
     .panorama-publication-title{
		padding-top: 30px  !important;
     	padding-bottom: 20px  !important;
     }    
     
    .panorama_press_numerique_publications div.col-compos-button,
    .panorama_press_papier_publications div.col-compos-button,
    .copie_externe_web  div.col-compos-button
    {
		margin-left: 0px !important;

    }
    .panorama_press_numerique_publications .col-compos-button-separator,
    .panorama_press_papier_publications .col-compos-button-separator
    {
		width:17px; 
		height: 10px;
    }
    .copie_externe_web .col-compos-button-separator
    {
    	width: 7px; 
		height: 10px;
    }
    .copie_externe_web .col-compos-button-separator-first{
        width: 7px; 
		height: 10px;
    }
    
    .label-description-container{
		margin-top: 15px;
    }
/**************************/   
/*END Field panorama press*/
/**************************/   


/**************************/   
/* Fields chorus pro multi*/
/**************************/   

.wppl_siret:required , .wppl_service_code:required, .wppl_order_number:required {
  /*border: 1px solid red !important;*/

}

.chorus-message{
	font-size: 12px;
}


.chorus-pro-multi, .bon-commande{
	background-color: #E1EBF0;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}


.chorus-pro-multi >div{
	margin-top: 20px !important;
	
}
.wppl_is_chorus_pro, .wppl_has_order{
    width: 13px;
    margin-right: 7px;
    vertical-align: middle;

}
.wppl_is_chorus_pro_container{
	padding-left: 10px;
}
.wppl_siret, .wppl_service_code, .wppl_order_number{
	background-color: #FFF !important;
}
.wppl_order_number{
	max-width: 100% !important;
}
.wppl_service_code.es-input{
	background: #FFF !important;
		max-width: 350px !important;
}
.wppl_siret{
	max-width: 100% !important;

}


/**************************/ 
/* End chorus pro multi*/
/**************************/ 



	.line_separator{
		background-color: #006E96;
		height: 2px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	

input:required, select:invalid {
    	box-shadow:none;
	}
	input:invalid, select:invalid{
	    box-shadow:none;
	}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {  color: #aaa;  float: right;  font-size: 28px;  font-weight: bold;}

.close:hover,.close:focus {  color: black;  text-decoration: none;  cursor: pointer;} 

/**
 * jQuery Editable Select
 * Indri Muska <indrimuska@gmail.com>
 *
 * Source on GitHub @ https://github.com/indrimuska/jquery-editable-select
 */



/*Autocomplete*/
	.autocomplete-suggestions { 
		border: 1px solid #d1d1d1; 
		background: #fff; 
		overflow: auto; 
		font-size: 12px;
		line-height: 16px;
		-moz-box-shadow: 0 2px 3px #ccc; 
		-webkit-box-shadow: 0 2px 3px #ccc; 
		box-shadow: 0 2px 3px #ccc;
		-webkit-border-bottom-left-radius: 0; -moz-border-radius-bottomleft: 0; border-bottom-left-radius: 0;
		-webkit-border-bottom-right-radius: 0; -moz-border-radius-bottomright: 0; border-bottom-right-radius: 0;
	}
	.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; cursor: pointer;}
	.autocomplete-selected { background: #f3f3f3; }
	.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; font-family: 'Montserrat SemiBold';}
	.autocomplete-group { padding: 2px 5px; }
	.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
	
	
input.es-input { padding-right: 20px !important; 

background: #e1ebf0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAYAAADJEc7MAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG2YAABzjgAA4DIAAIM2AAB5CAAAxgwAADT6AAAgbL5TJ5gAAABGSURBVHjaYvz//z8DOYCJgUzA0tnZidPK8vJyRpw24pLEpwnuVHRFhDQxMDAwMPz//x+OOzo6/iPz8WFGuocqAAAA//8DAD/sORHYg7kaAAAAAElFTkSuQmCC) right center no-repeat !important;
 }
 
.field-contact input.es-input{
	background:  #e1ebf0 !important;
}

input.es-input.open {
	-webkit-border-bottom-left-radius: 0; -moz-border-radius-bottomleft: 0; border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0; -moz-border-radius-bottomright: 0; border-bottom-right-radius: 0; }
.es-list { position: absolute; padding: 0; margin: 0; border: 1px solid #d1d1d1; display: none; z-index: 1000; background: #fff; max-height: 160px; overflow-y: auto;
	-moz-box-shadow: 0 2px 3px #ccc; -webkit-box-shadow: 0 2px 3px #ccc; box-shadow: 0 2px 3px #ccc; }
.es-list li { display: block; padding: 5px 10px; margin: 0; cursor: pointer;}
.es-list li.selected { background: #f3f3f3; }
.es-list li[disabled] { opacity: .5; }
.es-list { max-height: 160px !important; }


/*Bootstrap half for md (desktop) to mimic 24col grid*/
@media screen and (min-width: 768px){
   .col-md-11-5 {
    width: 95.8333333333333%;
  	flex: 0 0 95.8333333333333%;
    max-width: 95.8333333333333%;
  }
  .col-md-10-5 {
    width: 87.5%;
  	flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .col-md-9-5 {
    width: 79.1666666666667%;
  	flex: 0 0 79.1666666666667%;
    max-width: 79.1666666666667%;
  }
  .col-md-8-5 {
    width: 70.8333333333333%;
  	flex: 0 0 70.8333333333333%;
    max-width: 70.8333333333333%;
  }
  .col-md-7-5 {
    width: 62.5%;
  	flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .col-md-6-5 {
    width: 54.1666666666667%;
  	flex: 0 0 54.1666666666667%;
    max-width: 54.1666666666667%;
  }
  .col-md-5-5 {
    width: 45.8333333333333%;
  	flex: 0 0 45.8333333333333%;
    max-width: 45.8333333333333%;
  }
  .col-md-4-5 {
    width: 37.5%;
  	flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .col-md-3-5 {
    width: 29.1666666666667%;
  	flex: 0 0 29.1666666666667%;
    max-width: 29.1666666666667%;
  }
  .col-md-2-5 {
    width: 20.8333333333333%;
  	flex: 0 0 20.8333333333333%;
    max-width: 20.8333333333333%;
  }
  .col-md-1-5 {
    width: 12.499999995%;
  	flex: 0 0 12.499999995%;
    max-width: 12.499999995%;
  }
}

/* Remove arrows on all input numbers*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.error li::before {
  content: "-";  /* bullet "\2022"  */
  color: red; 
  font-weight: bold; 
  display: inline-block;
  width: 1em;
  margin-left: -1em; 
}
.error li{
	margin-top: 4px;
	border-bottom-style: solid;
	margin-bottom: 9px;
	border-bottom-width: 0px;
}
ul.error {
	color: red;
  	list-style: none; /* Remove default bullets */
}


/*b, strong, .font-weight-bold {
    font-family: 'Montserrat SemiBold' !important;
    
    padding-left: 3px;
    padding-right: 3px;
    
}*/
.row.label.font-weight-bold{
	padding-left: 0px;
}

/*Tooltip*/
.tooltip-inner {
   color: #721c24;
   background-color: #f8d7da;
   border: 1px solid #721c24;
}
.tooltip.bs-tooltip-top .arrow:before {
   border-top-color: #721c24;
}
.tooltip.bs-tooltip-right .arrow:before {
   border-right-color: #721c24;
}
.tooltip.bs-tooltip-bottom .arrow:before {
   border-bottom-color: #721c24;
}
.tooltip.bs-tooltip-left .arrow:before {
   border-left-color: #721c24;
}
/*
sup{
	top: 1.5px;
}
*/
sup{
	top: -.01em;
}
.nomargin{

}
/*
.compos .compos-line, .compos .compos-line.row:first-child {
	padding-bottom: 10px !important;
}*/
button:focus{
	outline:none;
}

.intl-tel-input input{
	padding-left: 47px !important; 
}
.intl-tel-input .flag-dropdown .country-list{
z-index: 15 !important;
}
