
input:-internal-autofill-selected {
    background-color: rgb(0, 0, 0) !important;
}

.logo-title {
    h1.title {
        font-size: 17pt;
        line-height: 20pt;
        align-items: flex-end;
        text-transform: uppercase;
        position: relative;
        margin-top: 55px;
    }
}

.txt-cyan-bold {
	color: #00FFFF;
	font-family: 'Montserrat SemiBold';
} 

.txt-blue-bold {
	color: #006e96;
	font-family: 'Montserrat SemiBold';
} 



 .txt-black-bold{
 	color: #000;
    font-family: 'Montserrat SemiBold';
 }    
 
.txt-white-bold{
 	color: #FFF;
    font-family: 'Montserrat SemiBold';
 } 
 
.txt-white{
 	color: #FFF;
    font-family: 'Montserrat Medium';
}   

.dotted-line{
	height: 2px;
	background: url('/build/images/square_white-2.svg');
	border-width: 0;
	margin-bottom: 40px;
	margin-top: 40px;

}
    
.page-logged {
    margin-top: 10px;
    /*margin-bottom: 40px;*/
    .subtitle {
        padding-left: 124px;
        font-size: 17px;
        line-height: 25px;
        color: #fff;
        .txt-cyan-bold {
            color: #00FFFF;
            font-family: 'Montserrat SemiBold';
        } 
        &::after {
            content: '';
            display: block;
            margin-top: 10px;
            width: 135px;
            height: 5px;
            background: #fff;
        }
    }
    .message-rappel {
        margin-top: 40px;
        color: #fff;
        font-size: 14px;
        line-height: 16px;
        font-family: 'Montserrat Medium';
        p {
            margin-bottom: 0;
        }
    }
    .introduction-ouvert {
        background: #fff;
        padding: 37px 28px;
        font-size: 14px;
        line-height: 16px;
        margin-top: 20px;
        & > ul {
            padding-left: 8px;
            margin-bottom: 0;
            & > li {
                margin-bottom: 10px;
                list-style-type: '- ' !important;
            }
            ul, ol {
                padding-left: 20px;
                margin-top: 5px;
                margin-bottom: 0;
                li {
                    margin-bottom: 5px;
                }
            }
        }
    }
    .btn-black {
        margin-top: 30px;
        text-align: center;
        a {
            background: #BDCCD4;
            color: #000;
            display: inline-block;
            padding: 7px 15px;
            font-family: 'Montserrat SemiBold';
            text-transform: uppercase;
            font-size: 14px;
            line-height: 19px;
            &:hover, &:focus {
                text-decoration: none;
                color: #007093;
            }
        }
        div {
            background: #BDCCD4;
            color: #FFF;
            display: inline-block;
            padding: 7px 15px;
            font-family: 'Montserrat SemiBold';
            text-transform: uppercase;
            font-size: 14px;
            line-height: 19px;
            &:hover, &:focus {
                text-decoration: none;
            }
        }
    }
    .introduction-ouvert-complement {
        margin-top: 42px;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        font-family: 'Montserrat Medium';
        &::before {
            content: '';
            display: block;
            margin-bottom: 10px;
            width: 135px;
            height: 5px;
            background: #fff;
        }
        p {
            margin-bottom: 0;
        }
    }
    .intro {
        text-align: center;
        max-width: 650px;
        margin: 60px auto 0;
        color: #fff;
        font-size: 14px;
        line-height: 19px;
        p {
            margin-bottom: 0;
        }
    }
    .validation-box {
        margin-top: 20px;
        border: 1px solid #82b8cb;
        padding: 41px 72px;
        background-color: rgba(244, 244, 243, 0.2);
        form {
            text-align: center;
            label {
                font-family: 'Montserrat SemiBold';
                font-size: 14px;
                line-height: 1;
                color: #fff;
                text-align: center;
                width: 100%;
                text-transform: uppercase;
            }
            input  {
                width: 100%;
                margin-top: 20px;
            }
            button {
                margin-top: 40px;
                background: #BDCCD4;
                color: #000;
                display: inline-block;
                padding: 7px 15px;
                font-family: 'Montserrat SemiBold';
                text-transform: uppercase;
                font-size: 16px;
                line-height: 19px;
                border: none;
                width: 264px;
            }
        }
    }
    .validation-box-success {
        margin-top: 20px;
        padding: 50px 28px;
        background: #fff;
        font-family: 'Montserrat Medium';
        font-size: 14px;
        line-height: 16px;
    }
    .intro-2col {
        margin-top: 48px;
        .boxed-text-left {
            width: 288px;
            margin-right: 16px;
        }
        .boxed-text-right {
            width: 309px;
        }
        .boxed-text-left,
        .boxed-text-right {
            display: inline-block;
            a {
                color: #fff;
                display: inline-block;
                text-align: center;
                border: 1px solid #fff;
                width: 100%;
                height: 32px;
                font-size: 14px;
                line-height: 32px;
                text-transform: uppercase;
                &:hover, &:focus {
                    background: #fff;
                    color: #000;
                    text-decoration: none;
                }
            }
        }
    }
    .introduction {
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 50px 28px;
        background: #fff;
        font-family: 'Montserrat Medium';
        font-size: 14px;
        line-height: 16px;
        display: inline-block;
        a {
            font-family: 'Montserrat SemiBold';
            color: #000;
            text-decoration: underline;
        }
    }
}

@media (max-width: 767px) {
    .page-logged .subtitle {
        padding-left: 0;
    }
    .page-logged {
        .intro-2col {
            .boxed-text-left, .boxed-text-right {
                display: block;
                width: 100%;
            }
            .boxed-text-left {
                margin-bottom: 20px;
            }
        }
    }
}
@media (max-width: 475px) {
    .page-logged .validation-box {
        padding: 25px;
    }
}
@media (max-width: 416px) {
    .header-nav .container a:first-child {
        margin-right: 0;
    }
}