.row {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

input:-internal-autofill-selected {
    background-color: rgb(0, 0, 0) !important;
}


.page-login {
    width: 100%;
    .description {
        margin-top: 64px;
        margin-left: auto;
        margin-right: auto;
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        line-height: 18px;
        text-align: justify;
        max-width: 464px;
    }
    .form-login {
        margin: 30px auto 176px;;
        border: 1px solid #fff;
        padding: 50px 84px;
        max-width: 464px;
        //background-color: #338bac;
        background-color: rgba(244, 244, 243, 0.2);
        .info-img {
            margin-bottom: 43px;
        }
        .login-field {
            display: flex;
            align-items: center;
            margin-bottom: 28px;
            img {
                width: 31px;
                margin-right: 15px;
            }
            .form-group {
                max-width: calc(100% - 46px);
                flex: 0 0 calc(100% - 46px);
            }
            input {
                /*background-color: rgb(232, 240, 254);*/
                background-color: #FFF;
                &::placeholder {
                    text-transform: uppercase;
                    
                }
                
            }
        }
        input, button {
            font-size: 16px;
            line-height: 19px;
            font-family: 'Montserrat Medium';
            color: #000;
            height: 40px;
        }
        button.btn-success,
        button.btn-success:active {
            margin-left: 46px;
            width: calc(100% - 46px);
            background-color: #BDCCD4;
            border-color: #BDCCD4;
            color: #000;
            text-transform: uppercase;
            font-weight: 500;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
            font-family: 'Montserrat SemiBold';
        }
        button.btn-success:focus {
            box-shadow: none;
        }
        .password-forgot {
            margin-left: 46px;
            width: calc(100% - 46px);
            margin-top: 30px;
            a {
                color: #fff;
                font-size: 12px;
                line-height: 15px;
                font-family: 'Montserrat SemiBold';
            }
        }
    }
    .form-group {
        margin-bottom: 0;
    }
    input, button {
        border-radius: 0;
    }
}

input {
  filter: none;
}


@media (max-width: 767px) {
    .page-login {
        .description {
            text-align: center;
        }
    }
}
@media (max-width: 475px) {
    .page-login {
        .form-login {
            padding: 25px;
        }
    }
}