@media print {
  .sonata-ba-view {
    .sonata-menu {
      padding: 5px 0;
      .menu-item--label {
        color: #828282;
        text-transform: uppercase;
      }
      .menu-item--label,
      .menu-item--value {
        font-size: 10pt;
        padding: 0;
      }
    }
    .border-bottom {
      border-bottom: 1px solid #ccc;
    }
    .col-group {
      clear: both;
      .border-bottom {
        width: 50%;
        float: left;
        .sonata-menu {
          width: 100%;
        }
      }
    }
    
    .h2-title {
      border-collapse: collapse;
      margin: 20px 0 10px;
      tr {
        .title {
          font-size: 12pt;
          font-weight: 700;
          text-transform: uppercase;
          line-height: 1;
        }
        .border-blue {
          background-color: #006E96;
          width: 120px;
          border: 13px solid #fff;
          border-left-width: 5px;
          border-right-width: 5px;
        }
      }
    }
    .sub-title {
      font-size: 11pt;
      line-height: 1;
      margin: 10px 0;
      font-weight: 700;
    }
  }
  .pdf-declar {
    
    .sub-table {
      margin-bottom: 0;
      tr {
        td {
          border-bottom: none;
        }
      }
    }
    .field-title {
      color: #828282;
      text-transform: uppercase;
      padding-right: 20px;
    }
    .table-title {
      margin-bottom: 15px;
      .title {
        text-transform: uppercase;
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        float: left;
      }
    }
  }

  .pdf-declar-header {
    padding: 0;
    margin: 0 -10px;
    .pdf-logo {
      padding: 0;
      width: 140px;
      height: 140px;
      float: left;
      img {
        width: 140px;
        height: 140px;
      }
    }
    .pdf-info {
      h2 {
        font-size: 18pt;
        line-height: 1;
        margin: 0;
        padding-top: 30px;
        margin-bottom: 20px;
        padding-left: 10px;
      }
      div {
        font-size: 11pt;
        margin-bottom: 5px;
        padding-left: 10px;
      }
    }
  }
  .sonata-menu {
    border: 0;
    tr {
      border: 0;
      padding: 0;
      td {
        border: 0;
        padding: 0;
      }
    }
  }
}