.page-logged {
    .introduction-ouvert {
        .row.label {
            &::before {
                content: none;
            }
        }
    }
    .validation {
        & > .container {
            padding: 0;
            padding-top: 20px;
            .row:first-child {
                margin-bottom: 24px !important;
                div:first-child {
                    color: #006E96;
                    font-size: 20px;
                    line-height: 24px;
                    font-family: 'Montserrat Bold';
                }
            }
            &::after {
                content: '';
                display: block;
                margin-top: 10px;
                width: 150px;
                height: 5px;
               /* background: #006E96;
                margin-bottom: 50px;*/
            }
        }
        .row {
            margin-bottom: 0 !important;
            &.label {
                justify-content: left;
                align-items: center;
                margin-bottom: 15px !important;
                text-align: left;
                flex-wrap: nowrap;
                span {
                    margin: 0;
                    padding: 0;
                }
            }
            &.label-declaration{
            	color: #006E96;
				font-size: 20px;
				line-height: 24px;
				font-family: 'Montserrat Bold';
				margin-top: 40px;
				
				div{
					margin-bottom: 20px;
				}
			}
            &.label-desc {
                justify-content: left;
                margin-bottom: 15px !important;
                color: #000;
                font-size: 12px;
                line-height: 14px;
            }
            &.bottom-line {
                border-bottom: 1px solid rgba($color: #BDCCD4, $alpha: 0.5);
                padding-bottom: 5px;
                margin-bottom: 5px !important;
            }
            & > * {
                line-height: 20px;
            }
            .form-col-label  > *,
            .form-col-label
             {
                color: #828282 !important;
            }
            .font-weight-bold > *, 
            .font-weight-bold{
                 	font-family: 'Montserrat Bold';
            }
            .font-weight-normal > *, 
            .font-weight-normal{
                 	font-family: 'Montserrat';
            }
            
            .form-col-fields,
            .panorama_press_numerique_publications_line > *, .col-compos-num-field {
                color: #000;
                font-size: 14px;
                 .label-description{
                    
                    	color: #828282 !important;
                    }
            }
        }
        a.pdf-hidden {
            font-size: 0;
            position: relative;
            display: inline-flex;
            height: 20px;
            align-items: center;
            cursor: default;
            &::before {
                content: '';
                display: inline-block;
                width: 120px;
                height: 5px;
                background: #006E96;
                margin-left: 10px;
                position: relative;
                cursor: default;
            }
            &::after {
                content: url('/build/images/jump-icon.svg');
                position: absolute;
                display: inline-block;
                width: 20px;
                height: 20px;
                right: -30px;
                cursor: pointer;
            }
        }
        form {
            .container {
                margin-top: 60px;
                .row {
                    position: relative;
                    & > div:first-child {
                        flex: 0 0 100%;
                        max-width: 100%;
                        text-align: center;
                    }
                    .printer {
                        position: absolute;
                        right: 0;
                    }
                    button[type='submit'] {
                        background: #006E96;
                        width: 240px;
                        height: 32px;
                        color: #fff;
                        border: 0;
                        font-size: 16px;
                        line-height: 19px;
                        font-weight: 500;
                        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
                        font-family: 'Montserrat Medium';
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    .printer {
        display: flex;
        align-items: center;
        .icon-print {
            background: url('/build/images/print-icon.svg') no-repeat center;
            width: 25px;
            height: 25px;
            display: inline-flex;
            margin: 0 10px;
            position: relative;
            align-items: center;
            /*&::before {
                content: '';
                height: 1px;
                width: 32px;
                display: inline-block;
                background-color: #000;
                position: absolute;
                left: -37px;
            }*/
            &::after {
                content: '';
                height: 32px;
                width: 1px;
                display: inline-block;
                background-color: #000;
                position: absolute;
                right: -5px;
            }
        }
        a {
            color: #000;
            font-size: 12px;
            line-height: 18px;
            text-transform: uppercase;
            &:hover, &:focus {
                text-decoration: none;
            }
        }
    }
}

.abo-press-livres::after, .abo-press-livres::after
{
    content: '';
    display: inline-block;
    width: 120px;
    height: 5px;
    background: #006E96;
    margin-left: 10px;
    position: relative;
    cursor: default;
}

.abo-press-livres::after, .abo-press-livres::after{
    content: '';
    display: inline-block;
    width: 120px;
    height: 5px;
    background: #006E96;
    margin-left: 10px;
    position: relative;
    cursor: default;
}

.rgpd{

		margin-bottom: 15px;

}

/*.font-weight-bold .label-description {
     font-family: 'Montserrat'  !important;
     font-weight: bold;
}*/