{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_admin_content %}


{% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}

<div>
    <h2 class="title-border">Export formation et CS</h2>
{#    <p>{{ 'export.subheader'|trans({}, 'export') }}</p>#}
    <div class="box box-primary">
        <div class="box-body">
            <ul class="menu list-unstyled mb-0">
{#                <li><a class="btn-link" href="{{ path('admin_sonata_user_user_export', {'format' : 'csv'}) }}">Utilisateurs</a></li>#}
                <li><a class="btn-link" href="{{ path('admin_app_wdeclar_export', {'format' : 'csv'}) }}">Déclarations</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
