{% extends 'base.html.twig' %}

{% block siteLogo %}
    <img src="{{ asset('build/images/logo-wide.svg') }}" alt="logo" width="190" height="47">
{% endblock %}
{% block subTitle %} {% endblock %}

{% block body %}

<style>
<!--
.bottom-line{
	border-bottom: solid #006E96 1px;
}

.col-compos-title{
	max-width: 235px;
}
.col-compos-title-field{
	max-width: 300px;
}

.col-compos-num{
	max-width: 95px;
}
.col-compos-num-field{
	max-width: 80px;
}
.col-compos-button{
	max-width: 20px;
}

.add-compos{
	visibility: hidden;
}
.compos-line:nth-last-of-type(1) .add-compos{
	visibility: visible;
}

.compos-errors{
	color: red;
}

col-md-add-compos{
	visibility: hidden;
}
.compos-line:nth-last-of-type(1) .col-md-add-compos{
	visibility: visible;
}

.compos-errors{
	color: red;
}
.compos-title-field input{
	display: table-cell;
	max-width: 100%;
	width:100%;
}


@media screen and (min-width: 768px)
{
    .col-md-intitule-stage {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 195px;
    	max-width: 195px;
    }
   
    .col-md-intitule-stage-field{

        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 520px;
    	max-width: 520px;
    }
    .col-md-stagiaire{
	    flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 195px;
    	max-width: 195px;
    }  
    
    .col-md-stagiaire-field{
	    flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 170px;
    	max-width: 170px;
    } 
    
    .col-md-heures{
	    flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 240px;
    	max-width: 240px;
    } 
    
    .col-md-heures-field{
	    flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100px;
    	max-width: 100px;
    }
    .col-md-remove-compos, .col-md-add-compos{
	    flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 20px;
    	max-width: 20px;
    }

}


-->
</style>


<div class="page-logged">
    {% set context = "declaration" %}
    {% include 'interface/declaration/partial/header_declaration.html.twig'%}
    
    {% include 'interface/declaration/partial/breadcrumb.html.twig'%}
        
		<div class="introduction-ouvert container debug validation">
		<div class="container ">
          <div class="row">
            <div class="col-sm-12 col-md-10">ENVOYER VOTRE DÉCLARATION</div>
            <div class="col-sm-12 col-md-2 printer">
              <div class="icon-print"></div>
              <a href="href="#" onclick="window.print();return false;"">Imprimer</a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12" >
                Dès que vous aurez confirmé les informations saisies, votre déclaration sera envoyée au CFC et vous recevrez un mail de confirmation.<br><br>
                <strong>Vérifiez bien votre déclaration</strong><br><br>             
			</div>
          </div>
        </div>
    	{{ form_start(form, {'attr':{"autocomplete":"off", "style":"margin-top: -70px;"}}) }}
    	
    	
    	<div class="container">
              <div class="row">
              	<div class="col-sm-12 col-md-12" >
                         <span style="color: red;">N'oubliez pas de cliquer sur le bouton « <strong>ENVOYER</strong> » pour <strong>CONFIRMER L'ENVOI</strong> de votre déclaration.</span><br><br><br>
                
					</div>
				</div>
				<div class="row" style="padding-bottom: 32px;">
                <div class="col-sm-12 col-md-10 "><div><button type="submit" id="form_submit" name="form[submit]">Envoyer</button></div><input type="hidden" id="form__token" name="form[_token]" value="_tl7xnlHsxL3Q2GFcV_egou2lR4deWO7ihmXiimLsh4"></div>
                <div class="col-sm-12 col-md-2 printer">&nbsp;</div>
              </div>
            </div>
    	
    	
    	
    	
    	    <div class="my-custom-class-for-errors">{{ form_errors(form) }}</div>
         

    	 
    	 
    	 
         {% include 'interface/declaration/partial/form_validation.html.twig'%}
         
         
         
         <div class="my-custom-class-for-errors">{{ form_errors(form) }}</div>
        
            <div class="container">
            <div class="row">
              	<div class="col-sm-12 col-md-12" >
                         <span style="color: red;">N'oubliez pas de cliquer sur le bouton « <strong>ENVOYER</strong> » pour <strong>CONFIRMER L'ENVOI</strong> de votre déclaration.</span><br><br><br>
                
					</div>
				</div>
              <div class="row">
                <div class="col-sm-12 col-md-10">{{ form_row(form.submit) }}{{ form_widget(form._token) }}</div>
                <div class="col-sm-12 col-md-2 printer">
                  <div class="icon-print"></div>
                  <a href="href="#" onclick="window.print();return false;"">Imprimer</a>
                </div>
              </div>
            </div>  
        
    	</form>
    		
    		
        </div>
</div>

{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('logged') }}
    {{ encore_entry_link_tags('declaration') }}
    {{ encore_entry_link_tags('validation') }}
{% endblock %}