{% extends 'interface/logged.html.twig' %}

{% block pageTitle %}Bienvenue sur votre espace cfc{% endblock %}

{% block content %}
<div class="validation-box-success">
    <div class="confirmation-success">
        {{ wtype.proformatConfirmation|raw }}
    </div> 
</div>
{% endblock %}