Merci, votre déclaration a bien été enregistrée.<br><br>
Vous trouverez votre déclaration au format pdf en pièce jointe de ce mail.<br><br>
Avant tout règlement, veuillez attendre de recevoir la facture. Merci de ne pas répondre par le biais de cette adresse.<br><br>
Cordialement,<br>
{{ signature }}