<div class="container_accordion_options" class="">
        <div class="row blue contained">
        	<div class="col-sm-12 col-md-12 nopadding  text-uppercase">
        		<span class="form-col-label label-description label-accordion_options font-weight-bold font-size-14" style="">{{ i.label()|raw}}</span>
        		<span class="col-compos-button nopadding ico-expend-collapse ico-collapse"><a href="javascript:void(0);" onclick="toggle_accordion_options(this)">X</a></span> 
        	</div>
        </div>
{% if i.typeObjetConf.accordion_value_label_col is defined %}
	{% set grid_label_size = i.typeObjetConf.accordion_value_label_col %}
	{% set grid_value_size = 12 - i.typeObjetConf.accordion_value_label_col %}
{% else %}
	{% set grid_label_size = 2 %}
	{% set grid_value_size = 10 %}
{% endif %}
<style>

form[name=form]  .dotted-line:last
{
		display: none;/**/
}
</style>
		<div class="accordion_options_content">
    		<div  class="contained">	
                <div class="row blue mt-1">
                	<div class="col-sm-12 col-md-{{ grid_label_size|replace({'.': '-'}) }} nopadding  text-uppercase"><span class="form-col-label label-description" style="">{{ i.typeObjetConf.accordion_value_label|raw}}</span></div>
                	<div class="col-sm-12 col-md-{{ grid_value_size|replace({'.': '-'}) }} nopadding  text-uppercase"><input type="number"   name="{{ i.typeObjetConf.accordion_synchro_field_1 }}" value="{{ db_data[i.typeObjetConf.accordion_synchro_field_1] }}" 
                	{# group_sum_ definition. The sum of the groups should be equal to the sum_id value #}
                    {% set class_str='' %}
                    {% if i.typeObjetConf.group_sum_id is defined %}
                    	data-group-sum-id="{{ i.typeObjetConf.group_sum_id }}"
                        {% set class_str = class_str ~ i.typeObjetConf.group_sum_id|replace({',':''})  %}
                    {% endif %}
                    {% if i.typeObjetConf.group_sum_ref is defined %}
                    	data-group-sum-ref="{{ i.typeObjetConf.group_sum_ref }}"
                    {% endif %}
                     {% if i.typeObjetConf.group_sum_msg is defined %}
                    	data-group-sum-msg="{{ i.typeObjetConf.group_sum_msg }}"
                    {% endif %}
                    {% if i.typeObjetConf.group_sum_alert_msg is defined %}
                    	data-group-sum-alert-msg="{{ i.typeObjetConf.group_sum_alert_msg|escape }}"
                    {% endif %}
            
            
            		{# group_1_not_empty definition. One item of the group should be not empty #}
                    {% if i.typeObjetConf.group_1_not_empty_id is defined %}
                    	data-group-1-not-empty-id="{{ i.typeObjetConf.group_1_not_empty_id }}"
                    	{% set class_str = class_str ~ " " ~ i.typeObjetConf.group_1_not_empty_id  %}
                    {% endif %}
                    
                    {% if i.typeObjetConf.group_1_not_empty_message is defined %}
                    	data-group-1-not-empty-message="{{ i.typeObjetConf.group_1_not_empty_message|escape }}"
                    {% endif %}
                    
                    {% if i.typeObjetConf.group_1_not_empty_alert is defined %}
                    	data-group-1-not-empty-alert="{{ i.typeObjetConf.group_1_not_empty_alert|escape }}"
                    {% endif %}
                    
                    
                    {% if i.typeObjetConf.not_empty_alert is defined %}
                    	data-not-empty-alert="{{ i.typeObjetConf.not_empty_alert|escape }}"
                    {% endif %}
                    
        
        
                    class=" accordion_options_field {{ class_str }}"
                    
                    {% if i.typeObjetConf.not_empty_message is defined %}
                    oninvalid="this.setCustomValidity('{{ i.typeObjetConf.not_empty_message|escape }}')"
                    {% endif %} 
                    oninput="this.setCustomValidity('')"        	
                            	
                    min="0" max="99999" 
                    {%if i.mandatory == true %}required="required"{% endif %} >
                    </div>
                </div>	
 
                <div class="row contained mt-1">
                    <div class="col-sm-12 col-md-12 nopadding  text-uppercase " style="">
                    	<span class="form-col-label  label-description font-weight-bold" style="">{{ i.typeObjetConf.accordion_option_title }}</span>
                    </div>
                </div> 
                 <div class="row blue">
               		<div class="col-sm-12 col-md-12 nopadding form-col-label  text-uppercase font-size-12">
                    	<input type="radio" name="{{ i.typeObjetConf.accordion_synchro_field_2 }}" id="{{ i.typeObjetConf.accordion_synchro_field_2 }}_1" {% if db_data[i.typeObjetConf.accordion_synchro_field_2]==1 %}checked="checked"{% endif %} value="1"><label for="{{ i.typeObjetConf.accordion_synchro_field_2 }}_1">{{ i.typeObjetConf.accordion_option1_label|raw }}</label>
                    </div>
                 </div> 
                <div class="row blue">
               		<div class="col-sm-12 col-md-12 nopadding form-col-label  text-uppercase font-size-12">
                    	<input type="radio" name="{{ i.typeObjetConf.accordion_synchro_field_2 }}" id="{{ i.typeObjetConf.accordion_synchro_field_2 }}_2" {% if db_data[i.typeObjetConf.accordion_synchro_field_2]==2 %}checked="checked"{% endif %} value="2"><label for="{{ i.typeObjetConf.accordion_synchro_field_2 }}_2">{{ i.typeObjetConf.accordion_option2_label|raw }}</label>
                    </div>
                 </div>                             
                
    		</div>
    		<ul class="error" style="font-weight: bold; color: red" id="err-wde_tit_resp"></ul>
		</div>
		
</div>
<div class="dotted-line contained"></div>







