{% if i.typeObjetConf.display_label_size is defined %}
    {% set grid_label = i.typeObjetConf.display_label_size %}
    {% set grid_form = 12-i.typeObjetConf.display_label_size %}
{% else %}    
    {% set grid_label = 2 %}
    {% set grid_form = 10 %}
{% endif %}

{% if i.typeObjetConf.label_style is defined %}
	{% set style = i.typeObjetConf.label_style %}
{% else %} 
	{% set style = "" %}
{% endif %}
              
              
{% if i.typeObjetConf.chorus_bdc_message is defined %}
    {% set chorus_bdc_message=i.typeObjetConf.chorus_bdc_message %}
{% else %}
    {% set chorus_bdc_message=false %}
{% endif %}          

<style>
.bon_commande{
	background-color: #E1EBF0;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

#chorus_pro_bdc:required, #chorus_pro_service:required, #chorus_pro_siret:required {
  /**border: 1px solid red;
  outline: none;*/
}

input[name=wde_is_order_number]{
    width: 13px;
    margin-right: 7px;
    vertical-align: middle;
	margin-left: 15px;
}

</style>


<script>
jQuery(document).ready(function() {
if($('.bon-commande').length)	{
	$('#wdwde_is_order_number').on('click',function(){
		$('#wde_order_number').prop('required',true);
		$('.has_bdc_bloc, .bdc_bloc').show();
	})
	$('#wde_wde_is_order_number.on('click',function(){
		$('#wde_order_number').prop('required',false);
		$('#wde_order_number').val('');
		$('.has_bdc_bloc, .bdc_bloc').hide();
	})	

	if($('input[name=wde_is_order_number').val()==1)
	{
		$('#wde_order_number').prop('required',true);
		$('.has_bdc_bloc, .bdc_bloc').show();
	}else{
		$('.has_bdc_bloc, .bdc_bloc').hide();	
	}
}
});

</script>
<div class="bon-commande">

    <div class="row contained blue">
    	<div class="col-sm-12 col-md-9 nopadding  text-uppercase" style="">
    		<span class="form-col-label  label-description" style="">Un <strong>bon de commande / engagement</strong> doit-il figurer sur la facture ?</span>
    	</div>
    	<div class="col-sm-12 col-md-3 nopadding">
    		<div class="text-uppercase float-left">
    			<input type="radio" name="wde_is_order_number" id="wde_is_order_number_oui" {% if form.children['wde_is_order_number'].vars.value =="1" %}checked="checked"{% endif %} value="1" required="required"><label for="wde_is_order_number_oui">oui</label>
    			{#<input type="radio" name="wde_is_cwde_is_order_numberis_chowde_is_order_numberform.children['wde_is_choruwde_is_order_number=="1" %}checked="checked"{% endif %} value="1" required="required"><label for="wde_is_chorus_wde_is_order_number>#}
    		</div>
    		<div class="text-uppercase float-left">
    			<input type="radio" name="wde_is_order_number" id="wde_is_order_number_non" {% if form.children['wde_is_order_number'].vars.value =="0" %}checked="checked"{% endif %} value="0" required="required"><label for="wde_is_order_number_non">non</label>
			</div>
    			{#<input type="radio" name="wde_is_chorus_prwde_is_order_numbers_pro_wde_is_order_numberldren['wde_is_order_number'].wde_is_order_numberchecked="checked"{% endif %} value="0" required="required"><label for="wde_is_order_number_non"wde_is_order_number</div>#}
    	</div>
    	<ul class="error" style="font-weight: bold; color: red" id="err-wde_tit_resp"></ul>
    </div>

        {% if chorus_bdc_message is defined and chorus_bdc_message|raw|length %}	
            <div class="row contained blue has_bdc_bloc">
            	<div class="col-sm-12 col-md-12 nopadding chorus-message"> {{ chorus_bdc_message|raw  }}</div>
            </div>
           {% endif %}
           


	<div class="contained bdc_bloc">
    	<div class="row contained">
    	<div class="form-col-label  col-sm-12 col-md-{{ grid_label|replace({'.': '-'}) }} nopadding  text-uppercase {{ class }}"  style="{{ style }}><span class="label-description">{%if i.labelVisible == true %}{{ i.label()|raw }}{%if i.mandatory == true %}*{% endif %}{% endif %}</span></div>
    	<div class="form-col-fields col-sm-12 col-md-{{ grid_form|replace({'.': '-'}) }} nopadding"><input type="text"  
    	name="wde_order_number" 
		value="{{ form.children['wde_order_number'].vars.value }}" 
		id="wde_order_number" maxlength="50"
    	{%if i.mandatory == true %} required="required" {% endif %}
    	class="wppl_order_number"         
    	{% if i.typeObjetConf.not_empty_message is defined %}
        oninvalid="this.setCustomValidity('{{ i.typeObjetConf.not_empty_message|escape }}')"
        title='{{ i.typeObjetConf.not_empty_message|escape }}'
        {% endif %}
        oninput="this.setCustomValidity('')"></div>
	</div>
	</div>
</div>
    		

