
{% set file_params=db_data['file_upload'][i.getSynchroField()] %}

<div class="row blue file-upload-row  contained">
		<div class="col-sm-12 col-md-12  label-description-container text-uppercase text-left"><span class="form-col-label label-description font-weight-bold text-uppercase">{{ i.label()|raw}}</span>
		
		<label for="file-upload-{{ i.id }}" class="custom-file-upload text-uppercase">Parcourir <i class="custom-file-upload-icon"></i></label>
        <input class="wabo_fichier file-upload-file-input" name="file_upload_file_input[{{ i.getSynchroField() }}]" id="file-upload-{{ i.id }}" type="file" placeholder=".xl, .xls" accept=".xlsx, .xls, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, application/vnd.msexcel, text/csv" />
		<label class="custom-file-upload-filename"><input class="file-upload-filename-text" type="text" 
		
		placeholder=".xl .xls" style="" disabled=disabled
		data-extentions="{% if i.typeObjetConf.upload_file_extensions is defined %}{{i.typeObjetConf.upload_file_extensions}}{% endif %}"
		> <a class="delete_file" href="javascript:;" onclick="file_upload_reset_upload(this)"></a></label>
		
		<input type="hidden" name="file_upload_fichier_media_key[{{ i.getSynchroField() }}]" class="file-upload-fichier-media-key" value="{{ file_params['file_upload_fichier_media_key'] }}">
		<input type="hidden" name="file_upload_fichier_name[{{ i.getSynchroField() }}]" class="file-upload-fichier-name" value="{{ file_params['file_upload_fichier_name'] }}">
		
		</div>
</div>	

<div class="row blue contained">
		<div class="col-sm-12 col-md-12 text-center file-upload-notice">
		{% if i.typeObjetConf.upload_file_template_label is defined %}
		
            {% set upload_label= i.typeObjetConf.upload_file_template_label|raw %}

		    {% if i.typeObjetConf.upload_file_media_id is defined %}
			    {% set media_path=path('declaration_media_download', {'id': i.typeObjetConf.upload_file_media_id}) %}
			    {% set upload_label= upload_label | replace({'%link%': media_path}) %}
		    {% endif %}
			{{upload_label|raw}}
		
		{% endif %}
    	</div>
</div>