<script>
jQuery(document).ready(function() {
	$('#wpp_prestataire_label').editableSelect();
	$('#wpp_prestataire_label2').editableSelect();
	if($("#wpp_prestataire_label").val().length>0){
		$(".line_wpresta_prestataire_label2").show();
	}

	$('#wpp_prestataire_label, #wpp_prestataire_label2, .es-list .es-visible').on('change',function(){
		
		/*if($("#wpp_prestataire_label").val().length>0 && $("#wpp_prestataire_label2").val().length==0){
			$(".line_wpresta_prestataire_label2").hide();
		}else{
			$(".line_wpresta_prestataire_label2").show();
		}*/
		
		if($("#wpp_prestataire_label").val().length==0 && $("#wpp_prestataire_label2").val().length>0){
			$("#wpp_prestataire_label").val($("#wpp_prestataire_label2").val());
			$("#wpp_prestataire_label2").val("");
		}
		if($("#wpp_prestataire_label").val().length==0 && $("#wpp_prestataire_label2").val().length==0){
			$(".line_wpresta_prestataire_label2").hide();
		}

		
	});

	$('.line_wpresta_prestataire_label .es-list .es-visible').on('mousedown',function(){
		console.log("$('.es-list .es-visible').on('click',function(){");
		$(".line_wpresta_prestataire_label2").show();
	});
	
})
</script>

<div class="row blue contained">
	<div class="col-sm-12 col-md-6 nopadding  text-uppercase" style="">
		<span class="form-col-label  label-description {{ class }}" style="">{{ i.label()|raw}}</span>
	</div>
	<div class="col-sm-12 col-md-6 nopadding line_wpresta_prestataire_label">
    	<div class="row blue">
    		<div class="col-sm-5 col-md-5 nopadding form-col-label  text-uppercase">
    			<input type="radio" name="wpresta_prestataire" id="wpresta_prestataire_oui" {% if db_data['wprestataire']['wpresta_prestataire'] =="1" %}checked="checked"{% endif %} value="1" required="required"><label for="wpresta_prestataire_oui">oui, le(s)quel(s) :</label> 
    		</div>
    		<div class="col-sm-7 col-md-7 nopadding form-col-label  ">
    		 <select  name="wpresta_prestataire_label" id="wpp_prestataire_label" oninvalid="this.setCustomValidity('Merci de renseigner le prestataire.')"  oninput="this.setCustomValidity('')" >
       	
       {% for prestataire in db_data['wprestataire']['repertoire_prestataire'] %}

       		<option  value="{{ prestataire.label }}"
       		{% if   prestataire.label == db_data['wprestataire']['wpresta_prestataire_label'] %}
       		    {% set  prestataire_label=true %}
       		    selected="selected"
       		{% endif %}
       		 >{{ prestataire.label }}</option>
       {% endfor %}
            {% if prestataire_label is not defined  %}
            
       		<option  value="{{ db_data['wprestataire']['wpresta_prestataire_label'] }}" selected="selected">{{ db_data['wprestataire']['wpresta_prestataire_label'] }}</option>
       		{% endif %}
        </select>
    		
    		
    		</div>
    	</div>
	</div>
	
	<div class="col-sm-12 col-md-6 nopadding  text-uppercase line_wpresta_prestataire_label2" style="display:none;">
		<span class="form-col-label  label-description {{ class }}" style=""></span>
	</div>
	<div class="col-sm-12 col-md-6 nopadding line_wpresta_prestataire_label2" style="display:none;">
    	<div class="row blue">
    		<div class="col-sm-5 col-md-5 nopadding form-col-label  text-uppercase"></div>
    		<div class="col-sm-7 col-md-7 nopadding form-col-label  ">
    		 <select  name="wpresta_prestataire_label2" id="wpp_prestataire_label2" oninvalid="this.setCustomValidity('Merci de renseigner le prestataire.')"  oninput="this.setCustomValidity('')" >
       	
       {% for prestataire in db_data['wprestataire']['repertoire_prestataire'] %}

       		<option  value="{{ prestataire.label }}"
       		{% if   prestataire.label == db_data['wprestataire']['wpresta_prestataire_label2'] %}
       		    {% set  prestataire_label=true %}
       		    selected="selected"
       		{% endif %}
       		 >{{ prestataire.label }}</option>
       {% endfor %}
            {% if prestataire_label is not defined  %}
            
       		<option  value="{{ db_data['wprestataire']['wpresta_prestataire_label2'] }}" selected="selected">{{ db_data['wprestataire']['wpresta_prestataire_label2'] }}</option>
       		{% endif %}
        </select>
    		
    		
    		</div>
    	</div>
	</div>
	
	
	<div class="col-sm-12 col-md-6 nopadding  text-uppercase" style=""></div>
	<div class="col-sm-12 col-md-6 nopadding">
    	<div class="row blue">
    		<div class="col-sm-12 col-md-10 nopadding form-col-label  text-uppercase ">
      			<input type="radio" name="wpresta_prestataire" id="wpresta_prestataire_non" {% if db_data['wprestataire']['wpresta_prestataire'] =="0" %}checked="checked"{% endif %} value="0" required="required"><label for="wpresta_prestataire_non">non</label>
      		</div>

    	</div>
	</div>
	<ul class="error" style="font-weight: bold; color: red" id="err-wde_tit_resp"></ul>
</div>
