

<style>
.page-logged .introduction-ouvert .row .col-compos-button.ico-collapse a::before{
	transform: rotate(0deg) !important;
}

.page-logged .introduction-ouvert .row .col-compos-button.ico-expend a::before{
	transform: rotate(90deg) !important;
}


</style>

<script>

copie_externe_web_pub='';

copie_externe_web_pub+='<div class="row blue copie_ext_web_publications_line">';
copie_externe_web_pub+='<div class="col-sm-12 col-md-9 "><input type="text" placeholder="" class="wpplp_label wcpextMel" name="" value="" oninvalid="this.setCustomValidity(\'Merci de renseigner la publication.\')"  oninput="this.setCustomValidity(\'\')" required></div>';
copie_externe_web_pub+='<div class="col-sm-12 col-md-1  nopadding text-uppercase ">';
copie_externe_web_pub+='	<div class="float-left nopadding col-compos-button-separator-first" style="">&nbsp;</div>';
copie_externe_web_pub+='	<div class="col-compos-button nopadding add-compos float-left" style="margin-left: 0px !important;"><a href="javascript:void(0);" onclick="add_copie_externe_web_pub(this)" style="font-size:18" title="Ajouter une plateforme">+</a></div>';
copie_externe_web_pub+='	<div class="float-left nopadding col-compos-button-separator" style="">&nbsp;</div>';
copie_externe_web_pub+='	<div class="col-compos-button nopadding float-left" style="margin-left: 0px !important;"><a href="javascript:void(0);" onclick="remove_copie_externe_web_pub(this)" title="Supprimer une plateforme">X</a></div>';
copie_externe_web_pub+='</div>';
copie_externe_web_pub+='</div>';



jQuery(document).ready(function() {

    $( "#form_submit" ).click(function() {
    	
    	if($('input:invalid, select:invalid').length)
    	{
    		if($('input:invalid, select:invalid').eq(0).closest('.copie_externe').find('.copie_externe_content').is(":hidden")){
    			
    			$('input:invalid, select:invalid').eq(0).closest('.copie_externe').find('.ico-expend-collapse a')[0].scrollIntoView(); 
    			$('input:invalid, select:invalid').eq(0).closest('.copie_externe').find('.ico-expend-collapse a').trigger('click');
    			$('input:invalid, select:invalid').eq(0).focus();
   			 	setTimeout(function(){ $( "#form_submit" ).trigger('click'); }, 800);
    			
    		}
    
    	}
    });
});

</script>

{% if i.getLabelVisible() %}
<div class="row label panorama-title contained {{ class }}" style="padding-left: 0px;" ><span class="title text-uppercase">{{ i.label()|raw}}</span></div>
{% endif %}


<div id="container_copie_ext_web_reseau" class="">
    {% for copie_ext in db_data['wcpextw'] %}
    {% set copie_ext_index = loop.index - 1 %}
    <div class="copie_externe_web multi-index" data-index="{{ copie_ext_index }}">
        <div class="row blue contained">
        	<div class="col-sm-12 col-md-10 nopadding "><input type="text" name="publication" class="copie_externe_publication field-large" placeholder="TITRE DE LA PUBLICATION DONT EST ISSU L'ARTICLE"  value="{{ copie_ext['wcpextPublication'] }}" oninput="this.setCustomValidity('')" maxlength="255" ></div>
        	<div class="col-sm-12 col-md-2 nopadding ">
        		<div class="col-compos-button nopadding ico-expend-collapse ico-collapse ico-expend float-left"><a href="javascript:void(0);" onclick="toggle_copie_externe_web(this)">X</a></div>
        		  <div class="col-compos-button nopadding add-panorama float-left"><a href="javascript:void(0);" onclick="add_copie_externe_web(this)" title="Rajouter publication web">+</a></div>
        		  <div class="col-compos-button nopadding float-left"><a href="javascript:void(0);" onclick="delete_copie_externe_web(this)" title="Supprimer publication web">X</a></div>
        	</div>
        </div>
		<div class="copie_externe_content">
		<div  class="contained">
            <div class="row blue ">
            	<div class="col-sm-12 col-md-10 nopadding "><input type="text" name="titre" class="copie_externe_titre field-large" placeholder="TITRE DE L'ARTICLE"  value="{{ copie_ext['wcpextTitre'] }}" oninput="this.setCustomValidity('')" maxlength="255" ></div>
            </div>		
            <div class="row blue ">
            	<div class="col-sm-12 col-md-3 nopadding  text-uppercase"><span class="form-col-label " style="">AUTEUR(S) DE L'ARTICLE</span></div>
            	<div class="col-sm-12 col-md-7 nopadding  text-uppercase"><input type="text" class="wppl_total field-large copie_externe_auteur"  name="" value="{{ copie_ext['wcpextAuteur'] }}" style="width: 100%" oninput="this.setCustomValidity('')"  placeholder="" maxlength="255" ></div>
            </div>		
            <div class="row blue ">
            	<div class="col-sm-12 col-md-4 nopadding  text-uppercase"><span class="form-col-label " style="">DATE DE PARUTION DE L'ARTICLE</span></div>
            	<div class="col-sm-12 col-md-2 nopadding  text-uppercase"><input type="text" class="wppl_total field-large dob copie_externe_parution"  name="" value="{{ copie_ext['wcpextParution'] }}" style="width: 100%" oninput="this.setCustomValidity('')"  placeholder="JJ/MM/ANNEE" pattern="\d{1,2}/\d{1,2}/\d{4}"  maxlength="10"  ></div>
            </div>	
            
            <div class="row blue ">
            	<div class="col-sm-12 col-md-6 nopadding  text-uppercase"><span class="form-col-label " style="">DATE DE MISE EN LIGNE DE LA COPIE DE L'ARTICLE</span></div>
            	<div class="col-sm-12 col-md-2 nopadding  text-uppercase"><input type="text" class="wppl_total field-large dob-short copie_externe_date_mel"  name="" value="{{ copie_ext['wcpextDateMel'] }}" style="width: 100%" oninput="this.setCustomValidity('')"  placeholder="MM/ANNEE" pattern="\d{1,2}/\d{4}"  maxlength="7"  ></div>
            </div>	
            <div class="row sub-title contained text-uppercase "></div>
             <div class="row sub-title contained text-uppercase ">SITES, PLATEFORMES, ET/OU RÉSEAUX SOCIAUX SUR LESQUELS L'ARTICLE EST MIS EN LIGNE</div>
                <div class="copie_externe_web_publications">
                {% for publications in copie_ext['wcpextMel'] %}
                {% set publication_mel_index = loop.index - 1 %}
                    <div class="row blue copie_ext_web_publications_line">
                    	<div class="col-sm-12 col-md-9 "><input type="text" placeholder="" class="wpplp_label wcpextMel" name="" value="{{ publications['wcpextmelMel'] }}" oninvalid="this.setCustomValidity('Merci de renseigner la publication.')"  oninput="this.setCustomValidity('')" required></div>
                    	<div class="col-sm-12 col-md-1  nopadding text-uppercase ">
                    		<div class="float-left nopadding col-compos-button-separator-first" style="">&nbsp;</div>
                    		<div class="col-compos-button nopadding add-compos float-left" style="margin-left: 0px !important;"><a href="javascript:void(0);" onclick="add_copie_externe_web_pub(this)" style="font-size:18" title="Rajouter une plateforme">+</a></div>
                    		<div class="float-left nopadding col-compos-button-separator" style="">&nbsp;</div>
                    		<div class="col-compos-button nopadding float-left" style="margin-left: 0px !important;"><a href="javascript:void(0);" onclick="remove_copie_externe_web_pub(this)" title="Supprimer une plateforme">X</a></div>
                    	</div>
                	</div>
                {% endfor %}
                </div>		
    	
    	    <div class="row blue " style="margin-top: 20px;">
            	<div class="col-sm-12 col-md-9 nopadding  text-uppercase text-right"><span class="form-col-label " style=""><b>Total</b> de sites, plateformes et/ou réseaux sociaux</span></div>
            	<div class="col-sm-12 col-md-1 nopadding  text-uppercase text-center copie_ext_web_total_sites" style="border-bottom: 2px dotted #6c7073;">{{ copie_ext['wcpextMel']|length }}</div>
            </div>
            
	        <div class="row row-add-first-publication-press" style="display: none; width: 100%">
            	<div class="col-sm-12 col-md-3"></div>
            	<div class="col-sm-12 col-md-4  text-uppercase text-center">
            	<a class="add_first_publication_press" href="javascript:void(0);" onclick="add_first_copie_externe_web_pub(this)">Ajouter une plateforme</a>
            	</div>
        	</div>	
            
            
            
            <ul class="error" style="font-weight: bold; color: red"></ul>	
		</div >


	 		<div class="col-sm-12 col-md-3"></div>
			
		
		</div>
		
		<div class="dotted-line contained"  style="clear: both;"></div>
    </div>      
    
           
        
    {% endfor %}
</div>

<div class="row blue contained" id="default_copie_externe_web_button" style="">
		<div class="col-sm-12 col-md-12   text-uppercase text-right buttons-panoramas">
		<a class="button_add_delete" href="javascript:void(0);" onclick="add_default_copie_externe_web()" style="margin-top: -15px;" >Ajouter une copie externe</a>
		</div>
</div>
