{% for conf in declaration_conf %}  
{% set declaration_conf_index = loop.index - 1 %}
    {% for i in conf %}
 	    {% set conf_index = loop.index - 1 %}
 		 
 		{% if conf[conf_index+1] is defined %}
            {% if conf[conf_index+1].labelVisible == true %}
                {% set class_bottom_line = "bottom-line" %}
            {% else %}
            	{% set class_bottom_line = "" %}
            {% endif %}
        {% endif %}
         
         
        {% if i.typeObjetConf.label_class is defined %}
            {% set class = i.typeObjetConf.label_class %}
        {% else %} 
             {% set class = "" %}
        {% endif %}
                
                {% if loop.index == 1 and conf[conf_index].type_etape=='declaration' %}
                	<div class="row label-declaration contained"><div class="col-sm-12 col-md-12 text-uppercase">{{ conf[conf_index].label_interface|replace({'%wde_annee%':  conf[0].wde_annee})|replace({'%wde_numperiod%':  conf[0].wde_numperiod})|replace({'%wde_dossier%':  conf[0].wde_dossier})|replace({'%wde_contrat%':  conf[0].wde_contrat}) }}</div></div>
                {% endif %}
                	{# main interface objects are allways on one line#}
                    {% if i.typeObjet() in ["title", "title_yes_no", "subtitle"] %}
                    
                            {% if i.typeObjet()=="title" or i.typeObjet()=="title_yes_no" %}
                                <div class="row label contained {{ class }}" {% if loop.index == 1 %}styless="margin-top: 0px;"{% endif %} style="margin-top: 20px;">
                                    <span class="title text-uppercase">{{ i.label()|raw}}</span>{% if  context == "declaration" %}
                                    {% if wtype_id is defined and wtype_id|length %}
                                    	<a href="{{ path('declaration-independant',{'step':declaration_conf_index+1, 'wtype_id':wtype_id}) }}" class="pdf-hidden"></a>
                                    {% else %}
                                    	<a href="{{ path('declaration',{'step':declaration_conf_index+1}) }}" class="pdf-hidden" title='MODIFIER'></a>
                                    {% endif %}
                            {% endif %}
                                	{% if  context == "pdf" %}<span style="display: none" class="pdf-display"><img src="{{ pdf_image_title }}"></span>{% endif %}
                                </div>
                                
                                {% if i.typeObjetConf.label_description is defined %}
                                     <div class="row contained label-desc text-uppercase">{{ i.typeObjetConf.label_description|raw }}</div> 
                                {% endif %}
                            {% endif %}
                            
                            {% if i.typeObjet()=="subtitle" %}
                                 <div class="row contained sub-title text-uppercase {{ class }}">{{ i.label()|raw }}</div> 
                            {% endif %}
                    {% elseif  i.typeObjet() == "wcompos"%}    
                    	{%   include 'interface/declaration/partial/fields_validation.html.twig' %}
                    {% elseif  i.typeObjet() == "wcompos_stages"%}   
                        {% include 'interface/declaration/partial/fields_validation.html.twig' %} 
                    {% elseif  i.typeObjet() == "bon_commande"%}   
                        {% include 'interface/declaration/partial/fields_validation.html.twig' %} 
                    {% elseif  i.typeObjet() == "chorus_pro"%}   
                       {% include 'interface/declaration/partial/fields_validation.html.twig' %} 
                    {% elseif  i.typeObjet() == "chorus_pro_extended"%}   
                       {% include 'interface/declaration/partial/fields_validation.html.twig' %} 
                    {% elseif  i.typeObjet() == "panorama_press_numerique"%}   
                       {% include 'interface/declaration/partial/fields_validation.html.twig' %}
                    {% elseif  i.typeObjet() == "panorama_press_papier"%}   
                       {% include 'interface/declaration/partial/fields_validation.html.twig' %}  
                    {% elseif  i.typeObjet() == "abo_press_livres"%}   
                       {% include 'interface/declaration/partial/fields_validation.html.twig' %} 
                    {% elseif  i.typeObjet() == "abo_press"%}   
                       {% include 'interface/declaration/partial/fields_validation.html.twig' %}
                    {% elseif  i.typeObjet() == "file_upload"%}   
                       {% include 'interface/declaration/partial/fields_validation.html.twig' %}   
                    {% elseif  i.typeObjet() == "prestataire_veille_media"%}   
                       {% include 'interface/declaration/partial/fields_validation.html.twig' %}      
                    {% elseif  i.typeObjet() == "accordion_options"%}  
                       {% include 'interface/declaration/partial/fields_validation.html.twig' %} 
                    {% elseif  i.typeObjet() == "relation_publique"%}  
                       {% include 'interface/declaration/partial/fields_validation.html.twig' %}
                    {% elseif  i.typeObjet() == "cma_btp"%}  
                       {% include 'interface/declaration/partial/fields_validation.html.twig' %}
                    {% elseif  i.typeObjet() == "rgpd"%}  
                       {% set class_bottom_line = "" %}
                       {% include 'interface/declaration/partial/fields_validation.html.twig' %}
                    {% elseif  i.typeObjet() == "copie_ext_web_reseau"%}  
                       {% include 'interface/declaration/partial/fields_validation.html.twig' %}
                    {% elseif  i.typeObjet() == "copie_ext_cible"%}  
                       {% include 'interface/declaration/partial/fields_validation.html.twig' %}
                    {% elseif  i.typeObjet() == "line_separator"%}
                        <div class="row red contained"><div class="form-col-label col-sm-12 col-md-12 line_separator"></div></div>
                    
                    {% elseif  i.typeObjet() == "checkbox"%} 
                        {% if i.typeObjetConf.display_label_size is defined %}
                            {% set grid_label = i.typeObjetConf.display_label_size %}
                            {% set grid_form = 12-i.typeObjetConf.display_label_size %}
                        {% else %}    
                            {% set grid_label = 2 %}
                            {% set grid_form = 10 %}
                        {% endif %} 
                    	{% set checkbox_value=db_data_conf[declaration_conf_index][i.synchroField()] %}
                       <div class="row red contained {{ class_bottom_line }}">
                       	<div class="col-sm-12 col-md-{{ grid_label|replace({'.': '-'}) }} nopadding text-uppercase {{ class }} nopadding form-col-label">{{ i.label()|raw}}</div>
                       	<div class="col-sm-12 col-md-{{ grid_form|replace({'.': '-'}) }} nopadding text-uppercase {{ class }} nopadding ">{% if checkbox_value==1 %} OUI {% else %} NON {% endif %}</div>
                       </div>
                    
                            	
                       
                    {% else %}
      
                        {# calculate the grid size of the label#}  
                        {% if i.typeObjetConf.display_label_size is defined %}
                            {% set grid_label = i.typeObjetConf.display_label_size %}
                            {% set grid_form = 12-i.typeObjetConf.display_label_size %}
                        {% else %}    
                            {% set grid_label = 2 %}
                            {% set grid_form = 10 %}
                        {% endif %}
                        
                        {# add additionnal class and style#}
                        {% if i.typeObjetConf.label_style is defined %}
                        	{% set style = i.typeObjetConf.label_style %}
                        {% else %} 
                        	{% set style = "" %}
                        {% endif %}
                        
                                      
                        {# Display in column management#}
                        {% if i.typeObjetConf.display_column is defined %}
                        	{% if i.typeObjetConf.display_column ==1 %}
                        		<div class="row red contained {{ class_bottom_line }}">
                        	{% else %}
                        	{% endif %}
                        		<div class="col-sm-12 col-md-6 nopadding">
                        			<div class="row nomargin red">
                        			<div class="form-col-label col-sm-12 col-md-{{ grid_label|replace({'.': '-'}) }} nopadding text-uppercase {{ class }} red" style="{{ style }}">
                        			{%if i.labelVisible == true %}{{ i.label()|raw }}{% endif %}
                        			<span>{%if i.typeObjetConf.label_description is defined %}{{ i.typeObjetConf.label_description|raw }}{% endif %}</span>
                        			
                        			</div>
                        			<div class="form-col-fields col-sm-12 col-md-{{ grid_form|replace({'.': '-'}) }} nopadding red">
                        			{% include 'interface/declaration/partial/fields_validation.html.twig'%}
                        			</div>
                        			
                        			</div>
                        {% else %}
                        	<div class="row blue contained {{ class_bottom_line }}">
                        	{# manage display on 3 column with a prefix#}
                            {% if i.typeObjetConf.display_column_prefix is defined %} 
                           		 {% if i.typeObjetConf.display_column_prefix_size is defined %}
                           		 	{% set grid_prefix = i.typeObjetConf.display_column_prefix_size %}
                           		 {% else %}
                           		 	{% set grid_prefix = 2 %}
                           		 {% endif %}
                            	<div class="form-col-label  col-sm-12 col-md-{{grid_prefix|replace({'.': '-'}) }} text-uppercase nopadding"><span class="label-prefix">{{ i.typeObjetConf.display_column_prefix|raw }}</span></div>
                                {% set grid_form = 12 - grid_label - grid_prefix %}
                                
                            {% endif %}
                            {# checkbox have label on the right #}
                            {% if i.typeObjet() not in ['checkbox'] %}
                            	<div class="form-col-label col-sm-12 col-md-{{ grid_label|replace({'.': '-'}) }}  nopadding {{ class }} text-uppercase" style="{{ style }}">
                            	{%if i.labelVisible == true %}<span class="label-description ">{% if 'font-weight-bold' in class %}<b>{% endif %}{{ i.label()|raw }}{% if 'font-weight-bold' in class %}</b>{% endif %}</span>{% endif %}
                            	{%if i.typeObjetConf.label_description is defined %}<br><span class="label-description font-weight-normal">{{ i.typeObjetConf.label_description|raw }}</span>{% endif %}
                            	</div>
                             {% endif %}
                        	<div class="form-col-fields col-sm-12 col-md-{{ grid_form|replace({'.': '-'}) }}  nopadding">
                               {% include 'interface/declaration/partial/fields_validation.html.twig'%}
 
                        	</div>
                        {% endif %}
                        


                        {% if i.typeObjetConf.display_column is defined %}
                            {% if i.typeObjetConf.display_column ==2 %}
                            	
                        		</div>
                        	{% else %}
                        		
                        	{% endif %}
                       			
                        	</div>
                        {% else %}
                        	</div>
                        {% endif %}   
                    
                    
                    {% endif %}    
    
    
    
    
 
    
    
 
    
    
    
    
    
    
    
    {% endfor %}
    {% if not loop.last %}<pagebreak>{% endif %}
    
{% endfor %}                        
