 {{ form_start(form , {'multipart': true, 'attr':{"autocomplete":"off"}}) }}
     
                    <div class="my-custom-class-for-errors ">
                        {{ form_errors(form) }}
                    </div>   
                {% for i in conf %}
                
                {% set conf_loop = loop.index %}
                
                {% set debug_wde_dossier = i.wde_dossier %}
                {% set debug_wde_declar = i.wde_declar %}
                {% set debug_wde_contrat = i.wde_contrat %}
                {% set debug_wconf_typcont = i.getWconfTypcont().getLabel() %}
                {% if i.typeObjetConf.label_class is defined %}
                      {% set class = i.typeObjetConf.label_class %}
                {% else %} 
                     {% set class = "" %}
                {% endif %}
                
                {% if i.typeObjetConf.container_class is defined %}
                      {% set container_class = i.typeObjetConf.container_class %}
                {% else %} 
                     {% set container_class = "" %}
                {% endif %}
                {% if i.typeObjetConf.container_style is defined %}
                      {% set container_style = i.typeObjetConf.container_style %}
                {% else %} 
                     {% set container_style = "" %}
                {% endif %}
                
                
                	{# main interface objects are allways on one line#}
                    {% if i.typeObjet() in ["title", "title_yes_no", "subtitle"] %}
                    
                            {% if i.typeObjet()=="title" or i.typeObjet()=="title_yes_no" %}
                            {% set last_title=i.label %}
                                <div class="row label {{ class }} contained" {% if conf_loop == 1 %}style="margin-top: 0px;"{% endif %} >
                                    <span class="title text-uppercase">{{ i.label()|raw}}</span>
                                </div>
                                {% if i.typeObjetConf.label_description is defined %}
                                    <div class="row label-desc text-uppercase contained">{{ i.typeObjetConf.label_description|raw }}</div>
                                {% endif %}
                            {% endif %}
                            
                            {% if i.typeObjet()=="subtitle" %}
                                <div class="row sub-title contained text-uppercase {{ class }}">{{ i.label()|raw }}</div>
                            {% endif %}
                    {% elseif  i.typeObjet() == "wcompos"%}    
                    	{% include 'interface/declaration/partial/fields_compos.html.twig'%}
                    {% elseif  i.typeObjet() == "wcompos_stages"%}   
                        {% include 'interface/declaration/partial/fields_compos_stages.html.twig'%} 
                    {% elseif  i.typeObjet() == "bon_commande"%}   
                        {% include 'interface/declaration/partial/fields_bon_commande.html.twig'%}                         
                    {% elseif  i.typeObjet() == "chorus_pro"%}   
                        {% include 'interface/declaration/partial/fields_chorus_pro.html.twig'%} 
                    {% elseif  i.typeObjet() == "chorus_pro_extended"%}    
                        {% include 'interface/declaration/partial/fields_chorus_pro_extended.html.twig'%}
                    {% elseif  i.typeObjet() == "panorama_press_numerique"%}   
                        {% include 'interface/declaration/partial/fields_panorama_press_numerique.html.twig'%} 
                    {% elseif  i.typeObjet() == "panorama_press_papier"%}   
                        {% include 'interface/declaration/partial/fields_panorama_press_papier.html.twig'%} 
                    {% elseif  i.typeObjet() == "abo_press_livres"%}   
                        {% include 'interface/declaration/partial/fields_abo_press_livres.html.twig'%} 
                   {% elseif  i.typeObjet() == "abo_press"%}   
                        {% include 'interface/declaration/partial/fields_abo_press.html.twig'%} 
                   {% elseif  i.typeObjet() == "file_upload"%}   
                        {% include 'interface/declaration/partial/field_file_upload.html.twig'%}    
                   {% elseif  i.typeObjet() == "prestataire_veille_media"%}   
                        {% include 'interface/declaration/partial/fields_prestataire_veille_media.html.twig'%} 
                   {% elseif  i.typeObjet() == "accordion_options"%}   
                        {% include 'interface/declaration/partial/fields_accordion_options.html.twig'%}    
                   {% elseif  i.typeObjet() == "relation_publique"%}   
                        {% include 'interface/declaration/partial/fields_relation_publique.html.twig'%} 
                   {% elseif  i.typeObjet() == "cma_btp"%}   
                        {% include 'interface/declaration/partial/fields_cma_btp.html.twig'%} 
                    {% elseif  i.typeObjet() == "copie_ext_web_reseau"%}   
                        {% include 'interface/declaration/partial/fields_copie_ext_web_reseau.html.twig'%} 
                    {% elseif  i.typeObjet() == "copie_ext_cible"%}   
                        {% include 'interface/declaration/partial/fields_copie_ext_cible.html.twig'%} 
                   {% elseif  i.typeObjet() == "checkbox"%}   
                        <div class="row red contained"><div class="col-sm-12 col-md-12 form-col-fields">
                            {% include 'interface/declaration/partial/fields.html.twig'%}
                        </div></div>
                    {% else %}
                    
                        {# Display an horizontal line as a separator. see ENS/AU design #}
                        {% if i.typeObjet() in ["line_separator"] %}
                        
                        <div class="row red contained"><div class="form-col-label col-sm-12 col-md-12 line_separator"></div></div>
                        {% endif %}
                                        
                        {# calculate the grid size of the label#}  
                        {% if i.typeObjetConf.display_label_size is defined %}
                            {% set grid_label = i.typeObjetConf.display_label_size %}
                            {% set grid_form = 12-i.typeObjetConf.display_label_size %}
                        {% else %}    
                            {% set grid_label = 2 %}
                            {% set grid_form = 10 %}
                        {% endif %}
                        
                        {# add additionnal class and style#}
                        {% if i.typeObjetConf.label_style is defined %}
                        	{% set style = i.typeObjetConf.label_style %}
                        {% else %} 
                        	{% set style = "" %}
                        {% endif %}
                        
                        
                        
                         
                        {# Display in column management#}
                        {% if i.typeObjetConf.display_column is defined %}
                        	{% if i.typeObjetConf.display_column ==1 %}
                        		<div class="row red contained">
                        	{% else %}
                        	{% endif %}
                        		<div class="col-sm-12 col-md-6 nopadding contained">
                        			<div class="row nomargin red">
                        			<div class="form-col-label col-sm-12 col-md-{{ grid_label|replace({'.': '-'}) }} nopadding text-uppercase {{ class }}" style="{{ style }}">
                        			{%if i.labelVisible == true %}{{ i.label()|raw }}{%if i.mandatory == true %}*{% endif %}{% endif %}
                        			<span class="label-description">{%if i.typeObjetConf.label_description is defined %}{{ i.typeObjetConf.label_description|raw }}{% endif %}</span>
                        			
                        			</div>
                        			<div class="form-col-fields col-sm-12 col-md-{{ grid_form|replace({'.': '-'}) }} nopadding {% if i.typeObjetConf.contact_is_contact is defined and i.typeObjetConf.contact_is_contact==1 %}field-contact{% endif %} {% if i.typeObjetConf.adress_is_adress is defined and i.typeObjetConf.adress_is_adress==1 %}field-adresses{% endif %}">{% include 'interface/declaration/partial/fields.html.twig'%}</div>
                        			
                        			</div>
                        {% else %}
                        	<div class="row blue contained {{ container_class }}" style="{{ container_style }}">
                        	{# manage display on 3 column with a prefix#}
                            {% if i.typeObjetConf.display_column_prefix is defined %} 
                           		 {% if i.typeObjetConf.display_column_prefix_size is defined %}
                           		 	{% set grid_prefix = i.typeObjetConf.display_column_prefix_size %}
                           		 {% else %}
                           		 	{% set grid_prefix = 2 %}
                           		 {% endif %}
                            	<div class="form-col-label  col-sm-12 col-md-{{grid_prefix|replace({'.': '-'}) }}  text-uppercase nopadding"><span class="label-prefix">{{ i.typeObjetConf.display_column_prefix|raw }}</span></div>
                                {% set grid_form = 12 - grid_label - grid_prefix %}
                                
                            {% endif %}
                            {# checkbox have label on the right #}
                            {% if i.typeObjet() not in ['checkbox'] %}
                            	<div class="contained form-col-label col-sm-12 col-md-{{ grid_label|replace({'.': '-'}) }} nopadding  text-uppercase" style="{{ style }}">
                            	{%if i.labelVisible == true %}<span class="label-description {{ class }}">{{ i.label()|raw }}</span>{%if i.mandatory == true %}<span class="label-mandatory">*</span>{% endif %}{% endif %}
                            	{%if i.typeObjetConf.label_description is defined %}<br><span class="label-description">{{ i.typeObjetConf.label_description|raw }}</span>{% endif %}
                            	</div>
                             {% endif %}
                        	<div class=" form-col-fields col-sm-12 col-md-{{ grid_form|replace({'.': '-'}) }} nopadding {% if i.typeObjetConf.contact_is_contact is defined and i.typeObjetConf.contact_is_contact==1 %}field-contact{% endif %} {% if i.typeObjetConf.adress_is_adress is defined and i.typeObjetConf.adress_is_adress==1 %}field-adresses{% endif %}">{% include 'interface/declaration/partial/fields.html.twig'%}</div>
                        {% endif %}
                        
                           
                       {% if i.typeObjet() not in ["line_separator", "checkbox"] %}     
          				<ul class="error contained" style="" id="err-{{ i.synchroField() }}"></ul>    
                       {% endif %}   
                            
                        
                        
                        {% if i.typeObjetConf.display_column is defined %}
                            {% if i.typeObjetConf.display_column ==2 %}
                            	
                        		</div>
                        	{% else %}
                        		
                        	{% endif %}
                       			
                        	</div>
                        {% else %}
                        	</div>
                        {% endif %}   
                    
                    
                    {% endif %}
                    
                    {% if conf_loop == 1%}
                        <script>
                        console.log("###############");
                        console.log(" Dossier : {{debug_wconf_typcont}}");
                        console.log(" Dossier : {{debug_wde_dossier}}");
                        console.log("Declar : {{debug_wde_declar}}");
                        console.log("Contrat : {{debug_wde_contrat}}");
                        </script>
                    {% endif %}   
                

                
                {% endfor %} {#i in conf#}

                <div class="col contained" >
                {% if context != 'modification' and  step >1 %}

                    {% if app.request.attributes.get('_route_params').wtype_id is defined and app.request.attributes.get('_route_params').wtype_id|length  %}
                    	<div><a href="{{ path('declaration-independant',{'step':step-1, 'wtype_id':app.request.attributes.get('_route_params').wtype_id}) }}">ÉTAPE PRÉCÉDENTE</a></div>
                    {% else %}
                    	<div><a href="{{ path('declaration',{'step':step-1}) }}">ÉTAPE PRÉCÉDENTE</a></div>
                    {% endif %}
                {% endif %}
                    {{ form_row(form.submit) }}
                    {{ form_widget(form._token) }}
                        
                </div>
                
                    <div class="row ">
	  <div class="col-sm-12 col-md-6 nopadding contained">
		<div class="row nomargin red">
			<div class="form-col-label col-sm-12 col-md-10 nopadding text-uppercase text-right pr-2" style=""></div>
			<div class="form-col-fields col-sm-12 col-md-2 nopadding text-right "> 
			
			<a href="https://www.linkedin.com/company/cfc-copies/" title="Linkedin" target="_Blank" style="color:#006e97;"><i class="fab fa-linkedin-in fa-2x"></i></a>&nbsp;&nbsp;
			<a href="https://twitter.com/CFCopies" title="Twitter" target="_Blank" style="color:#006e97;"><i class="fab fa-twitter fa-2x"></i></a>&nbsp;&nbsp;
			<a href="https://www.facebook.com/CFCopies" title="Facebook" target="_Blank" style="color:#006e97;"><i class="fab fa-facebook-f fa-2x"></i></a>
			

 		</div>
 		
		</div>                                                 	
	 </div>
   </div>   
                </form>
