    {% if context=="admin" %}
    	{% set Wcocon = object.getWdeDossier()%}
    {% else %}
        {% set Wcocon=app.user %}
    {%  endif %}
    <div class="subtitle-wrapper">
    {% if context not in ['home_logged_closed'] %}
	<div class="subtitle">DECLARATION EN LIGNE <span class="txt-cyan-bold">ANNÉE {{ primary_declaration.getWdelefs()[0].getWdfAnnee() }}</span></div>
	{% endif %}
	<div class="subtitle">
		{{ Wcocon.getWcoRaisoc1() }} <span class="txt-cyan-bold">{{ Wcocon.getWcoRaisoc2() }}</span>
		<br> 
		<span style="display: inline-block">Client n° : <span class="txt-cyan-bold">{{ Wcocon.wcoDossier }}</span></span><br>
		Contrat(s) n° : <span class="txt-cyan-bold">{{ contrats|join(', ') }}</span>
		{% if context=="admin" %}
    	<br>
    	Télécharger la déclaration en PDF : <a href="{{ path('app_pdf_declaration', {'WdeDeclar': primary_declaration.wdeDeclar()})}}" target="_blank">{{ Wcocon.wcoDossier }}.pdf</a>
    	<br>
    	Télécharger l'export Excell : <a href="{{ path('app_excell_declaration', {'WdeDeclar': primary_declaration.wdeDeclar()})}}" target="_blank">{{ Wcocon.wcoDossier }}.xls</a>
    	{% endif %}
	</div>
	{% if section is defined %}
	<div class="section">{{ section }}</div>
	{% endif %}
	</div>

	{% if context  in ['history', 'modification'] %}
        {% if WtypeCont.archiveOuverture ==0 %}
                {% set display_archive = false %}
            {% elseif WtypeCont.archiveOuverture == 1 %}
                {%  if wdeclar is defined and wdeclar.wdeEtatDeclar in ['V','N','A','P','W'] %}
                	    {% set display_archive = true %}
                {% else %}
                	    {% set display_archive = false %}
                {% endif %}
            {% elseif WtypeCont.archiveOuverture == 2 %}
                {%  if wdeclar is defined and wdeclar.wdeEtatDeclar in ['F','X','I','E'] %}
                	    {% set display_archive = true %}
                {% else %}
                	    {% set display_archive = false %}
                {% endif %}
            {% elseif WtypeCont.archiveOuverture == 3 %}
                 {% set display_archive = true %}
                
            {% endif %}
            
            
            {% if display_archive and wdeclar is defined and wdeclar.wdeEtatDeclar in ['F','X','I','E'] %}
            <div class="form-step ">
	            <div class="{% if context=='modification' %}active{% endif %}"><a href="{{ path('interface_closed_coordonnees') }}">Coordonnées</a></div>
     	       <div class="{% if context=='history' %}active{% endif %}"><a href="{{ path('interface_history') }}">{% if WtypeCont.archive ==1 %}Consulter votre déclaration{% elseif WtypeCont.archive==2 %}Consulter vos déclarations{% endif %}</a></div>
            </div>	
            {% endif %}
	{% endif %}
